include modules/head
include modules/header
include modules/footer
include modules/components/breadcumb
include modules/components/product

doctype html
html(lang="en")
  +head
  body
    +header
    +breadcumb("Home", "Sản phẩm", "Trang sức", "Lắc tay")
    main
      .container
        section.product-section
          .row
            .col-lg-7
              .product-img
                ul.small-img
                  li.small-img__item.js-img-up
                    span.arrow.arrow--up
                  li.small-img__item.js-small-img
                    img.small-img__img(src="images/ring-1.png", alt="")
                  li.small-img__item.js-small-img
                    img.small-img__img(src="images/ring-2.png", alt="")
                  li.small-img__item.js-small-img
                    img.small-img__img(src="images/ring-1.png", alt="")
                  li.small-img__item.js-small-img
                    img.small-img__img(src="images/ring-2.png", alt="")
                  li.small-img__item.js-img-down
                    span.arrow.arrow--down
                .large-img
                  img.large-img__img.js-large-img(src="images/ring-1.png", alt="")
            .col-lg-5
              .product-detail
                h1.product-detail__name LẮC TAY TYFFANY XU HƯỚNG MỚI NHẤT
                h4.product-detail__code TYFFANY MS 3201
                p.product-detail__price
                  span.product-detail__price--new 955.000đ
                  span.product-detail__price--old 999.000đ
                p.product-detail__desc Không thể phủ nhận, thời trang và phong cách chính là “tuyên ngôn” không lời mạnh mẽ nhất của mỗi người phụ nữ. Do đó, việc mua sắm thời trang trở thành niềm vui, và có khi là nguồn cảm hứng vô tận để phái đẹp sống vui, sống đẹp hơn trong mắt nửa còn lại của thế giới. Để F5 tủ đồ của mình trước những xu hướng ngày một đa dạng hơn trong thế giới thời trang, nhiều chị em không ngần ngại chi tiêu “mạnh tay” để sở hữu những món đồ yêu thích.
                .product-custom
                  label.product-custom__label MÀU SẮC
                  select.product-select
                    option Màu bạc
                    option Màu đỏ
                    option Màu đen
                .product-custom
                  label.product-custom__label SIZE
                  select.product-select
                    option 12
                    option 13
                    option 14
                .product-custom.product-custom--last
                  label.product-custom__label SỐ LƯỢNG
                .product-detail__btn
                  a.button.button--white.product-detail__btn--mr8(href="#!") MUA HÀNG
                  a.button.button--black.product-detail__btn--mr8(href="#!")
                    i.fa.fa-heart
                  a.button.button--white(href="#!")
                    i.fa.fa-refresh
                .detail-social
                  .detail-social__wrap
                    span.detail-social__text Shipping &
                      span.detail-social__text--red Returns
                    ul.mini-social
                      li.mini-social__item
                        a.mini-social__link(href="#!")
                          img.mini-social__icon(src="images/btn-facebook.png", alt="")
                        span.mini-social__count 0
                      li.mini-social__item
                        a.mini-social__link(href="#!")
                          img.mini-social__icon(src="images/btn-twitter.png", alt="")
                        span.mini-social__count 0
                      li.mini-social__item
                        a.mini-social__link(href="#!")
                          img.mini-social__icon(src="images/btn-google-plus.png", alt="")
                        span.mini-social__count 0
                      li.mini-social__item
                        a.mini-social__link(href="#!")
                          img.mini-social__icon(src="images/btn-linkedin.png", alt="")
                      li.mini-social__item
                        a.mini-social__link(href="#!")
                          img.mini-social__icon(src="images/btn-pinterest.png", alt="")
        section.more-products
          .more-detail
            h1.more-detail__header
              span.more-detail__btn.js-more-detail__btn.active(data-select="1") ĐẶC ĐIỂM NỔI BẬT
              span.more-detail__btn.js-more-detail__btn(data-select="2") THÔNG TIN SẢN PHẨM
              span.more-detail__btn.js-more-detail__btn(data-select="3") ĐÁNH GIÁ
            .more-detail__tabs.js-more-detail__tabs.active(data-tab="1")
              .row
                .col-sm-6
                  .feature.feature--left
                    .feature__image.feature--left__img
                      img.feature__img(src="images/ring-3.png", alt="")
                    .feature__content
                      h4.feature__title
                        span.feature__name THE MARK OF A LEGEND
                      p.feature__desc Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.
                .col-sm-6
                  .feature.feature--right
                    .feature__image.feature--right__image
                      img.feature__img(src="images/ring-2.png", alt="")
                    .feature__content
                      h4.feature__title
                        span.feature__name.feature--right__name THE MARK OF A LEGEND
                      p.feature__desc Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.
                .col-sm-6
                  .feature.feature--left
                    .feature__image.feature--left__img
                      img.feature__img(src="images/ring-4.png", alt="")
                    .feature__content
                      h4.feature__title
                        span.feature__name THE MARK OF A LEGEND
                      p.feature__desc Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.
                .col-sm-6
                  .feature.feature--right
                    .feature__image.feature--right__image
                      img.feature__img(src="images/ring-5.png", alt="")
                    .feature__content
                      h4.feature__title
                        span.feature__name.feature--right__name THE MARK OF A LEGEND
                      p.feature__desc Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.
            .more-detail__tabs.js-more-detail__tabs(data-tab="2")
              p this is tab product infomation
            .more-detail__tabs.js-more-detail__tabs(data-tab="3")
              p this is tab respon
          aside.sidebar.detail-sidebar
            .sidebar__block
              h2.sidebar__heading SẢN PHẨM BÁN CHẠY
              ul.sidebar__list
                li.sidebar__item
                  +product-aside
                li.sidebar__item
                  +product-aside
                li.sidebar__item.sidebar__item--last
                  +product-aside
            .sidebar__block
              h2.sidebar__heading SẢN PHẨM MUA NHIỀU
              ul.sidebar__list
                li.sidebar__item
                  +product-aside
                li.sidebar__item
                  +product-aside
                li.sidebar__item.sidebar__item--last
                  +product-aside
    +footer
    script(src="js/main.js")
