include modules/head
include modules/header
include modules/footer
include modules/script
include modules/components/blog
include modules/components/product

doctype html
html(lang="en")
  +head
  body
    +header
    main.main
      //banner
      .banner
        .banner-product
          img.banner-product__img(src="images/banner-flower.png", alt="")
          h1.banner-product__name GreenVera
          h5.banner-product__desc Sản phẩm tinh dầu dưỡng da mới nhất của Mandala
          span.banner-product__price GIÁ CHỈ 750.000
            sup đ
          a.banner-product__buy(href="#") MUA HÀNG
        img.banner__img(src="images/banner-girl.png", alt="")
      .container
        //intro
        .row
          .col-md-4
            .intro
              img.intro__icon(src="images/icon-plane.png", alt="")
              .intro__text Miễn phí vận chuyển
          .col-md-4
            .intro
              img.intro__icon(src="images/icon-gift.png", alt="")
              .intro__text Nhận ngay quà tặng trị giá 350.000đ
          .col-md-4
            .intro.intro--last
              img.intro__icon(src="images/icon-star.png", alt="")
              .intro__text Giảm 30% cho đơn hàng trên 5.000.000đ
        //grid
        .row.row-gutter-5
          .col-md-6.col-gutter-5
            .row.row-gutter-5
              .col-6.col-gutter-5
                a(href="#").homegrid__link
                  img.homegrid__img(src="images/home-grid-1.png", alt="")
              .col-6.col-gutter-5
                .homegrid__card.homegrid__card-1
                  h1.homegrid__heading SỮA TẮM
                  .hash-line.homegrid__hashline //////////
              .gutter-5
              .col-6.col-gutter-5
                .homegrid__card.homegrid__card-2
                  h1.homegrid__heading NƯỚC HOA
                  .hash-line.homegrid__hashline //////////
              .col-6.col-gutter-5
                a(href="#").homegrid__link
                  img.homegrid__img(src="images/home-grid-2.png", alt="")
          .col-md-6.col-gutter-5
            a(href="#").homegrid__link
              img.homegrid__img(src="images/home-grid-3.png", alt="")
          .gutter-5
          .col-md-6.col-gutter-5
            a(href="#").homegrid__link
              img.homegrid__img(src="images/home-grid-4.png", alt="")
          .col-md-6.col-gutter-5
            .row.row-gutter-5
              .col-6.col-gutter-5
                .homegrid__card.homegrid__card-3
                  h1.homegrid__heading TRANG SỨC
                  .hash-line.homegrid__hashline //////////
              .col-6.col-gutter-5
                a(href="#").homegrid__link
                  img.homegrid__img(src="images/home-grid-5.png", alt="")
              .gutter-5
              .col-6.col-gutter-5
                a(href="#").homegrid__link
                  img.homegrid__img(src="images/home-grid-6.png", alt="")
              .col-6.col-gutter-5
                .homegrid__card.homegrid__card-4
                  a(href="#").homegrid__link
                    img.homegrid__img(src="images/home-grid-7.png", alt="")
        //speak
        .speak
          .speak__slider.owl-carousel.js-speak__slider
            .speak__slide
              .speak__avatar
                img.speak__img(src="images/speak-avatar.png", alt="")
              p.speak__text Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ đạo nhưng lại tạo ra sức hút kỳ lạ với những ai cầm trên tay sản phẩm ấy! Với công nghệ cải tiến mới nhất, hãng Rohto
              .speak__speaker  
                | TUITILE
                span.speak__speaker--italic _ Giám đốc phát triển sản phẩm    
            .speak__slide
              .speak__avatar
                img.speak__img(src="images/speak-avatar.png", alt="")
              p.speak__text Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ đạo nhưng lại tạo ra sức hút kỳ lạ với những ai cầm trên tay sản phẩm ấy! Với công nghệ cải tiến mới nhất, hãng Rohto
              .speak__speaker  
                | TUITILE
                span.speak__speaker--italic _ Giám đốc phát triển sản phẩm    
            .speak__slide
              .speak__avatar
                img.speak__img(src="images/speak-avatar.png", alt="")
              p.speak__text Vẫn là vẻ bề ngoài vô cùng đơn giản với các tông màu trắng, hồng làm chủ đạo nhưng lại tạo ra sức hút kỳ lạ với những ai cầm trên tay sản phẩm ấy! Với công nghệ cải tiến mới nhất, hãng Rohto
              .speak__speaker  
                | TUITILE
                span.speak__speaker--italic _ Giám đốc phát triển sản phẩm 
      //product
      .home-product
        ul.category
          li.category__item.js-category__item(data-tab="new")
            span Sản phẩm mới
          li.category__line
          li.category__item.js-category__item.active(data-tab="sell")
            span Sản phẩm bán chạy
          li.category__line
          li.category__item.category__item--last.js-category__item(data-tab="special")
            span Sản phẩm đặc biệt
        .hash-line ///////////////    
        ul.category-2.js-category-2(data-cate="new")
          li.category-2__item.js-category-2__item Mỹ phẩm
          li.category-2__item.js-category-2__item Chăm sóc da
          li.category-2__item.js-category-2__item Dành cho tóc
          li.category-2__item.js-category-2__item.active Nước hoa
          li.category-2__item.js-category-2__item Trang sức
          li.category-2__item.category-2__item--last.js-category-2__item Quà tặng
        ul.category-2.js-category-2(data-cate="sell")
          li.category-2__item.js-category-2__item Mỹ phẩm
          li.category-2__item.js-category-2__item Chăm sóc da
          li.category-2__item.js-category-2__item Dành cho tóc
          li.category-2__item.js-category-2__item.active Nước hoa
          li.category-2__item.js-category-2__item Trang sức
          li.category-2__item.category-2__item--last.js-category-2__item Quà tặng
        ul.category-2.js-category-2(data-cate="special")
          li.category-2__item.js-category-2__item Mỹ phẩm
          li.category-2__item.js-category-2__item Chăm sóc da
          li.category-2__item.js-category-2__item Dành cho tóc
          li.category-2__item.js-category-2__item.active Nước hoa
          li.category-2__item.js-category-2__item Trang sức
          li.category-2__item.category-2__item--last.js-category-2__item Quà tặng
        // home product slider
        .product-slider.js-product-tab(data-product='new')
          .product-slider__next.js-next-product
            img(src="images/icon-arrow-right.png", alt="")
          .product-slider__prev.js-prev-product
            img(src="images/icon-arrow-left.png", alt="")
          .slider.owl-carousel.js-product-slider
            each item in [1, 2, 3, 4, 5, 6]
              .slider__slide
                +product("images/product-3.png")
        .product-slider.js-product-tab(data-product='sell')
          .product-slider__next.js-next-product
            img(src="images/icon-arrow-right.png", alt="")
          .product-slider__prev.js-prev-product
            img(src="images/icon-arrow-left.png", alt="")
          .slider.owl-carousel.js-product-slider
            each item in [1, 2, 3, 4, 5, 6]
              .slider__slide
                +product("images/product-"+item+".png")
        .product-slider.js-product-tab(data-product='special')
          .product-slider__next.js-next-product
            img(src="images/icon-arrow-right.png", alt="")
          .product-slider__prev.js-prev-product
            img(src="images/icon-arrow-left.png", alt="")
          .slider.owl-carousel.js-product-slider
            each item in [1, 2, 3, 4, 5, 6]
              .slider__slide
                +product("images/product-4.png")

      // more info
      .home-info.container
        //social
        ul.social
          li.social__item
            a.social__link(href="#")
              i.fa.fa-facebook.social__icon
              | FACEBOOK
          li.social__item
            a.social__link(href="#")
              i.fa.fa-twitter.social__icon
              | TWITTER
          li.social__item
            a.social__link(href="#")
              i.fa.fa-instagram.social__icon
              | INSTAGRAM
          li.social__item
            a.social__link(href="#")
              i.fa.fa-google-plus.social__icon
              | GOOGLE +
          li.social__item
            a.social__link(href="#")
              i.fa.fa-pinterest-p.social__icon
              | PINTEREST
          li.social__item
            a.social__link(href="#")
              i.fa.fa-linkedin.social__icon
              | LINKEDIN
        //grid 3 block
        .row
          .col-md-4
            .widget.home-about
              h5.widget__heading VỀ CHÚNG TÔI
              .hash-line.hash-line--w100 ///////////
              .home-about__logo
                img.home-about__img(src="images/logo.png", alt="")
              h6.home-about__heading GIỚI THIỆU CHUNG VỀ MỸ PHẨM HANDMADE MANDALA
              p.home-about__text Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt. Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
              a.home-about__readmore(href="#") Xem thêm
          .col-md-4
            .widget
              h5.widget__heading BLOG
              .hash-line.hash-line--w100 ///////////
              +blog
          .col-md-4
            .widget
              h5.widget__heading GỬI EMAIL CHO CHÚNG TÔI
              .hash-line.hash-line--w100 ///////////
              form.sendmail
                input.sendmail__input(type="email", placeholder="Email của bạn")
                p.sendmail__desc Gửi email để nhận những ưu đãi mới nhất
                button.button-form GỬI
            .widget
              h5.widget__heading TAG SẢN PHẨM
              .hash-line.hash-line--w100 ///////////
            ul.tags.clearfix
              - var list = ['Đồng hồ', 'Túi', 'Phụ kiện', 'Đồng hồ', 'Túi', 'Giày', 'Scandal', 'Áo sơ mi', 'Nước hoa', 'Giày', 'Sandal', 'Trẻ em', 'Thời trang nữ', 'Trẻ em', 'Thời trang nữ'];
              each item in list
                li.tags__tag
                  a.tags__link(href="#")= item
    +footer
    +script
