mixin header
  header.header
    .container.header-inner.clearfix
      .logo
        a(href="#")
          img.logo__img(src="images/logo.png", alt="")
      .trigger
        span.trigger__btn.trigger__btn--first.js-header-btn(data-target=".cart")
          i.fa.fa-shopping-cart
        span.trigger__btn.js-header-btn(data-target=".search")
          i.fa.fa-search
        span.trigger__btn.trigger__btn--last.trigger__btn--black.js-menu-btn
          i.fa.fa-bars
      form.search.header-dropdown.js-header-dropdown
        input.search__input(type="text", placeholder="gõ từ khoá ở đây...")
        button.search__btn Tìm kiếm
      .cart.header-dropdown.js-header-dropdown
        .cart__products
          .product-cart.clearfix
            span.product-cart__btn x
            img.product-cart__img(src="images/cart.png", alt="")
            h6.product-cart__name Áo sơ mi nam
            span.product-cart__price 120.000
              sup đ
          .product-cart.clearfix
            span.product-cart__btn x
            img.product-cart__img(src="images/cart.png", alt="")
            h6.product-cart__name Áo sơ mi nam
            span.product-cart__price 120.000
              sup đ
        span.cart__pricing
          span.cart__text Tổng số
          span.cart__totalprice 240.000
            sup đ
        a.cart__btn(href="cart.html") GIỎ HÀNG
      nav.navigation
        ul.menu
          li.menu__item.menu__item--first
            a.menu__link(href="index.html") TRANG CHỦ
          li.menu__item
            a.menu__link(href="about.html") GIỚI THIỆU
          li.menu__item.dropdown
            a.menu__link.dropdown-btn.arrow-down(href="list.html") SẢN PHẨM
            .menu-dropdown
              .menu-span
                h6.menu-span__heading DƯỠNG DA
                .menu-span__line
                ul.submenu
                  - var list = ['Áo khoác', 'Bộ áo liền quần', 'Dresses', 'Quần / Váy', 'Quần short', 'Quần jean', 'Đồ đan', 'Áo nỉ'];
                  each item in list
                    li
                      a.submenu__link(href="#")= item
              .menu-span
                h6.menu-span__heading NƯỚC HOA
                .menu-span__line
                ul.submenu
                  - var list = ['Áo cánh / Áo sơ mi', 'Túi xách & Balô', 'Khăn quàng cổ và Foulards', 'Dệt kim Hats & Gloves', 'Vớ & Socks', 'Jewerly', 'Bị bảo vệ', 'Giày'];
                  each item in list
                    li
                      a.submenu__link(href="#")= item
              .menu-span
                h6.menu-span__heading TRANG SỨC
                .menu-span__line
                ul.submenu
                  - var list = ['Áo cánh / Áo sơ mi', 'Túi xách & Balô', 'Khăn quàng cổ và Foulards', 'Dệt kim Hats & Gloves', 'Vớ & Socks', 'Jewerly', 'Bị bảo vệ', 'Giày'];
                  each item in list
                    li
                      a.submenu__link(href="#")= item
          li.menu__item
            a.menu__link(href="#") TIN TỨC
          li.menu__item
            a.menu__link(href="contact.html") BẢN ĐỒ
          li.menu__item
            a.menu__link(href="contact.html") LIÊN HỆ
  .mobile-filter.js-mobile-filter
  .mobile-nav.js-mobile-nav
    span.mobile-nav__close.js-mobile-nav-btn &times;
    ul.mobile-nav__list
      li.mobile-nav__item
        a.mobile-nav__link(href="#!") TRANG CHỦ
      li.mobile-nav__item
        a.mobile-nav__link(href="#!") GIỚI THIỆU
      li.mobile-nav__item
        a.mobile-nav__link.mobile-nav__trigger.js-mobile-nav-trigger(href="#!") SẢN PHẨM
        ul.mobile-subnav.js-mobile-subnav
          li.mobile-subnav__item
            a.mobile-subnav__link(href="#") Dưỡng da
          li.mobile-subnav__item
            a.mobile-subnav__link(href="#") Nước hoa
          li.mobile-subnav__item
            a.mobile-subnav__link(href="#") Trang sức
      li.mobile-nav__item
        a.mobile-nav__link(href="#!") TIN TỨC
      li.mobile-nav__item
        a.mobile-nav__link(href="#!") BẢN ĐỒ
      li.mobile-nav__item
        a.mobile-nav__link(href="#!") LIÊN HỆ
