include components/nav

mixin header
  header
    .top-site
      .container.clearfix
        .account
          a.account__btn(href="#!") ĐĂNG KÍ
          a.account__btn(href="#!") ĐĂNG NHẬP
        ul.social.clearfix
          each item in ['facebook', 'google-plus', 'instagram', 'twitter']
            li.social__item
              a.social__link(href="#")
                i.fa(class="fa-"+item)
    .header
      .container
        .logo
          a(href="#!")
            img.logo__img(src="images/logo.png", alt="")
        form.search
          input.search__input(type="text", placeholder="Tìm kiếm...")
          button.search__btn
            i.fa.fa-search
    +nav
