.top-site {
  background-color: $lighten-grey;
}

.header {
  height: 120px;
  background-color: $white;
  overflow: hidden;
}

.social {
  float: left;
  border-left: 1px solid $border-gray;
  margin: 0;
  padding: 0;

  &__item {
    float: left;
  }

  &__link {
    display: block;
    width: 50px;
    line-height: 50px;
    font-size: 14px;
    color: $lightest-black;
    text-align: center;
    border-right: 1px solid $border-gray;

    &:hover {
      background-color: $gold;
      color: $white;
    }
  }
}

.account {
  float: right;
  border-left: 1px solid $border-gray;

  &__btn {
    display: inline-block;
    float: left;
    font-size: 12px;
    line-height: 50px;
    padding: 0 20px;
    color: $lightest-black;
    font-weight: 600;
    border-right: 1px solid $border-gray;
    overflow: hidden;

    &:hover {
      background-color: $gold;
      color: $white;
    }
  }
}

.logo {
  display: inline-block;
  margin: 15px 0;

  &__img {
    height: 90px;
  }
}

.search {
  width: 320px;
  height: 50px;
  float: right;
  position: relative;
  margin-top: 35px;

  &__input {
    width: 100%;
    height: 100%;
    border: 1px solid $border-gray;
    border-radius: 25px;
    padding: 0 20px;
    font-size: 14px;
    font-family: $roboto-condensed;
    box-shadow: none;
  }

  &__btn {
    height: 50px;
    width: 50px;
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    border: 0;
    border-radius: 0 25px 25px 0;
    background-color: transparent;
    font-size: 16px;
    color: $light-gray;
  }
}
