@mixin transition($transition...) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin triangle($width, $color) {
  border-top: $width solid $color;
  border-right: $width solid transparent;
  border-left: $width solid transparent;
}

@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow;
     -moz-box-shadow: $shadow;
          box-shadow: $shadow;
}

@mixin create-circle($size) {
  width: $size;
  height: $size;
  border-radius: $size;
}

@mixin create-square($bgcolor, $size) {
  width: $size;
  height: $size;
  background-color: $bgcolor;
}

@mixin position($position, $top: null, $right: null, $bottom: null, $left: null) {
  position: $position;
  top: $top;
  right: $right;
  left: $left;
  bottom: $bottom;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* example
  .wrapper {
    @include flexbox();
  }
*/
@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}
/* example
  .item {
    @include flex(1 200px);
  }
*/

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
