.product-image {
  display: flex;
  align-items: stretch;
  margin-bottom: 68px;
  border: 1px solid $gray-border;

  &__imgwrap {
    flex: 1;
  }

  &__img {
    width: 100%;
  }

  &__aside {
    display: flex;
    flex-direction: column;
    width: 99px;
    padding: 0 16px;
    border-right: 1px solid $gray-border;
  }

  &__up,
  &__down {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 68px;
    font-size: 16px;
    color: $gray;
    cursor: pointer;

    &:hover {
      color: $goldish-brown;
    }
  }

  &__thumbnail {
    flex: 1;
    position: relative;
    overflow: hidden;
  }
}

.thumbnail-slider {
  position: absolute;
  top: 0;
  left: 0;
  transition: top .2s ease-in-out;

  &__item {
    position: relative;
    margin: 24px 0;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -12px;
      margin-left: -15px;
      width: 30px;
      height: 1px;
      background-color: $gray-border;
    }

    &--firstchild {
      margin-top: 0;
    }

    &--lastchild {
      margin-bottom: 0;

      &::after {
        content: '';
        display: none;
      }
    }

    &.active {
      box-shadow: inset 0 0 0 2px $goldish-brown;
    }
  }

  &__img {
    width: 100%;
    position: relative;
    z-index: -1;
  }
}

.product-detail {
  font-family: $times-new-roman;
  margin-bottom: 68px;

  &__price {
    font-size: 34px;
    font-family: $caviar;
    line-height: 1;
    color: $goldish-brown;
    margin-bottom: 10px;
  }

  &__rate {
    padding: 18px 0;
    border-top: 1px solid $gray-border;
    border-bottom: 1px solid $gray-border;
    font-size: 12px;
    color: $gray;
    margin-bottom: 27px;
  }

  &__star {
    display: inline-block;
    margin-right: 10px;
  }

  &__review {
    color: inherit;

    &:hover,
    &:active {
      color: $goldish-brown;
    }
  }
}

.product-property {
  margin-bottom: 25px;

  &__title {
    font-size: 16px;
    color: $gray;
    margin-bottom: 15px;
  }

  &__color {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 0;
    position: relative;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: red;
      border: 1px solid $white;
      box-shadow: inset 0 0 0 2px $white;
    }

    &:checked::before {
      border-color: $gray;
    }

    &--gold::before {
      background-color: $goldish-brown;
    }

    &--black::before {
      background-color: $black;
    }

    &--red::before {
      background-color: $red;
    }
  }

  &__size {
    width: 120px;
    height: 30px;
    font-size: 16px;
    color: $gray-600;
  }

  &__number {
    display: flex;
    width: 120px;
    height: 29px;
    font-size: 16px;
    float: left;
    margin-right: 18px;

  }

  &__sub,
  &__add {
    display: block;
    width: 29px;
    height: 100%;
    line-height: 29px;
    background-color: $gray-border;
    text-align: center;
    font-weight: 800;
    cursor: pointer;
    color: $gray;
  }

  &__input {
    height: 100%;
    min-width: 0;
    flex: 1;
    background-color: $white;
    border: 0;
    border-top: 2px solid $gray-border;
    border-bottom: 1px solid $gray-border;
    text-align: center;
    color: $gray;
  }

  &__btn {
    line-height: 29px;
    padding: 0 16px;

    &:hover {
      background-color: $goldish-brown;
    }
  }

  &__desc {
    font-size: 13px;
    line-height: 18px;
    color: $gray-600;
    margin-bottom: 36px;
  }
}

.product-links {
  font-family: $times-new-roman;
  margin-bottom: 25px;
  @include clearfix;

  &__link {
    display: inline-block;
    float: left;
    color: $gray-600;
    font-size: 14px;
    margin-right: 30px;

    &:hover {
      color: $gray-600;
    }
  }

  &__icon {
    margin-right: 8px;
  }

  &__link:hover &__icon {
    color: $goldish-brown;
  }
}

.detail-social {
  @include clearfix;

  &__group {
    float: left;
    margin-right: 10px;
  }

  &__icon {
    height: 20px;
    width: auto;
  }

  &__index {
    display: inline-block;
    border: 1px solid $gray-400;
    border-radius: 2px;
    padding: 0 7px;
    line-height: 18px;
    position: relative;
    font-size: 12px;
    color: $gray;

    &::before,
    &::after {
      content: '';
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 5px solid transparent;
      border-right: 5px solid $gray-400;
      position: absolute;
      right: 100%;
      top: 6px;
    }

    &::after {
      right: calc(100% - 2px);
      border-right-color: $white;
    }
  }
}

.feature {
  margin-bottom: 110px;

  &__img {
    width: 100%;
  }
}

.detail-tabs {
  display: flex;
  margin-bottom: 15px;

  &__tab {
    display: inline-block;
    text-align: center;
    padding: 3px 8px;
    font-family: $times-new-roman;
    font-size: 18px;
    color: $gray-600;
    cursor: pointer;

    &:hover,
    &.active {
      color: $white;
      background-color: $goldish-brown;
    }
  }
}

.detail-content {
  margin-bottom: 30px;

  &__block {
    display: none;

    &.active {
      display: block;
    }
  }
}

.product-feature {
  font-size: 12px;
  line-height: 18px;
  color: $gray-600;
  text-indent: 12px;
}

.related {
  margin-bottom: 55px;
}
