include modules/head/head

doctype html
html
  +head
  body
    .page-404
      img.page-404__img(src="images/404.png", alt="")
      .page-404__content
        .logo.page-404__logo
          img.logo__img(src="images/logo-black.png", alt="")
        .page-404__links
          a.page-404__link(href="/") TRANG CHỦ
          a.page-404__link.page-404__link--last(href="contact.html") LIÊN HỆ
        form.searchbox
          input.searchbox__input(type="text")
          button.searchbox__btn
            i.fa.fa-search

    script(src="js/main.js")
