include modules/head/head
include modules/header/header
include modules/footer/footer
include modules/components/breadcumb

doctype html
html
  +head
  body
    +header
    //- bread-cumb
    +breadcumb('Trang chủ', 'Giới thiệu')
    .container
      //-  header
      h2.title-left GIỚI THIỆU
      .row.introduce
        .col-md-5.introduce__imgwrap
          img.introduce__img(src="images/introduce.png", alt="introduce img")
        .col-md-7.introduce__content
          h3.introduce__heading CHÀO MỪNG ĐẾN VỚI WINE HOURSE
          p.introduce__desc Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...

    +footer
    script(src="js/main.js")
