mixin about(heading)
  .about
    .about__logo
      img.about__img(src="images/logo.png", alt="")
    h6.about__heading(class={"about__heading--lg":heading==="lg"}) GIỚI THIỆU CHUNG VỀ MỸ PHẨM HANDMADE MANDALA
    p.about__text Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt. Hi, chào các nàng ... sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.sau khá nhiều lời hứa hão thì hôm nay tớ quay lại hâm nóng cái Blog này vào một ngày đầu hè nóng oi bức, khi mà dân tình xô nhau đi tắm Free để giải nhiệt.
    a.about__readmore(href="#") Xem thêm
