mixin product(img)
  .product
    .product__info
      img.product__img(src=img , alt="")
      h6.product__subname HOME
      h5.product__name Mỹ phẩm châu Âu
      .product__price
        span.product__price--new 350.000
          sup đ
        span.product__price--old 450.000
          sup đ
    .product__btn
      a.button.button--white.product__btn--mr8(href="#") MUA HÀNG
      a.button.button--black.product__btn--mr8(href="#")
        i.fa.fa-heart
      a.button.button--white(href="#")
        i.fa.fa-refresh

mixin product-h(img)
  .product-h
    .product-h__image
      img.product-h__img(src=img, alt="")
    .product-h__info
      h4.product-h__name Mỹ phẩm châu Âu thương hiệu hàng đầu thế giới
      p.product-h__rate
        i.fa.fa-heart
        i.fa.fa-heart
        i.fa.fa-heart
        i.fa.fa-heart
        i.fa.fa-heart
        span.product-h__purchases ( 4 lượt mua )
      p.product-h__desc Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.
      p.product-h__price 350.000đ
      .product-h__btn
        a.button.button--white.product-h__btn--mr8(href="#!") MUA HÀNG
        a.button.button--black.product-h__btn--mr8(href="#!")
          i.fa.fa-heart
        a.button.button--white(href="#!")
          i.fa.fa-refresh

mixin product-aside
  .product-aside
    .product-aside__image
      a.product-aside__link(href="#")
        img.product-aside__img(src="images/ring-6.png", alt="")
    h6.product-aside__name
      a.product-aside__link(href="#") Mỹ phẩm châu Âu
    p.product-aside__rate
      i.fa.fa-heart
      i.fa.fa-heart
      i.fa.fa-heart
      i.fa.fa-heart
      i.fa.fa-heart
      span.product-aside__purchases ( 4 Lượt mua )
    p.product-aside__price 355.000đ
