mixin product(img)
  .product
    .product__info
      img.product__img(src=img , alt="")
      h6.product__subname HOME
      h5.product__name Mỹ phẩm châu Âu
      .product__price
        span.product__price--new 350.000
          sup đ
        span.product__price--old 450.000
          sup đ
    .product__btns
      a.button.button--white.product__btn(href="#")
        i.fa.fa-refresh
      a.button.button--black.product__btn(href="#")
        i.fa.fa-heart
      a.button.button--white.product__btn(href="#") MUA HÀNG

mixin product2(img)
  .product2
    a.product2__image(href="#!")
      img.product2__img(src=img, alt="")
    .product2__info
      a(href="#!")
        h4.product2__name Mỹ phẩm châu Âu thương hiệu hàng đầu thế giới
      p.product2__rate
        i.fa.fa-heart
        i.fa.fa-heart
        i.fa.fa-heart
        i.fa.fa-heart
        i.fa.fa-heart
        span.product2__purchases ( 4 lượt mua )
      p.product2__desc Tự hào được ghi là năm mà Tiffany & Co là thành lập, bộ sưu tập mang tính biểu tượng này cung cấp cho một cái gật đầu với qua trong khi thể hiện một cảm giác hiện đại với kiểu dáng đẹp đường cong và đường nét mượt mà.
      p.product2__price 350.000đ
      .product2__btns
        a.button.button--white.product2__btn(href="#!")
          i.fa.fa-refresh
        a.button.button--black.product2__btn(href="#!")
          i.fa.fa-heart
        a.button.button--white.product2__btn(href="#!") MUA HÀNG

mixin product-aside
  .product-aside
    .product-aside__image
      a.product-aside__link(href="#")
        img.product-aside__img(src="images/ring-6.png", alt="")
    h6.product-aside__name
      a.product-aside__link(href="#") Mỹ phẩm châu Âu
    p.product-aside__rate
      i.fa.fa-heart
      i.fa.fa-heart
      i.fa.fa-heart
      i.fa.fa-heart
      i.fa.fa-heart
      span.product-aside__purchases ( 4 Lượt mua )
    p.product-aside__price 355.000đ
