mixin section-head
  .section-head
    a.section-head__btn(href="#!")
      i.fa.fa-th-large
    a.section-head__btn(href="#!")
      i.fa.fa-th-list
    ul.page-number
      li.page-number__item
        a.page-number__caret(href="#!")
          i.fa.fa-caret-left
      li.page-number__item
        a.page-number__link.active(href="#!") 1
      li.page-number__item
        a.page-number__link(href="#!") 2
      li.page-number__item
        a.page-number__link(href="#!") 3
      li.page-number__item
        a.page-number__caret(href="#!")
          i.fa.fa-caret-right
