mixin footer
  footer.footer
    .footerAbove
      .container
        .row
          .col-lg-4
            .footerAbove__logo
              a(href="#!")
                img(src="images/logo.png", alt="")
            p.footerAbove__contactInfo
              i.fa.fa-map-marker.footerAbove__contactIcon
              | Tầng 4, Tòa nhà Hanoi Group  Số 442 Đội Cấn,  P. Cống Vị, Q. Ba Đình, Hà Nội
            span.footerAbove__contactInfo.d-inline-block
              i.fa.fa-phone.footerAbove__contactIcon
              | (04) 6674 2332 - 
            span.footerAbove__contactInfo.d-inline-block
              i.fa.fa-fax.footerAbove__contactIcon
              | (04) 3786 8904
            p.footerAbove__contactInfo 
              i.fa.fa-phone.footerAbove__contactIcon
              | (08) 6680 9686 
            p.footerAbove__contactInfo 
              i.fa.fa-envelope.footerAbove__contactIcon
              | support@bizweb.vn
          .col-lg-8
            .row
              .col-md-3
                h5.footerAbove__heading CHUYỂN HÀNG
                ul.footerAbove__sublist
                  li
                    a.footerAbove__sublistLink(href="#!") Mua sắm trực tuyến
                  li
                    a.footerAbove__sublistLink(href="#!") Đến từ chúng tôi gửi đến
                  li
                    a.footerAbove__sublistLink(href="#!") Chính sách vận chuyển
                  li
                    a.footerAbove__sublistLink(href="#!") Vận chuyển thông tin
                  li
                    a.footerAbove__sublistLink(href="#!") Phiếu quà tặng
              .col-md-3
                h5.footerAbove__heading HỖ TRỢ
                ul.footerAbove__sublist
                  li
                    a.footerAbove__sublistLink(href="#!") Câu truyện của chúng ta
                  li
                    a.footerAbove__sublistLink(href="#!") Thanh toán an toàn
                  li
                    a.footerAbove__sublistLink(href="#!") Tuỳ chọn vận chuyển
                  li
                    a.footerAbove__sublistLink(href="#!") Chính sách vận chuyển
                  li
                    a.footerAbove__sublistLink(href="#!") Liên hệ với chúng tôi
              .col-md-3
                h5.footerAbove__heading THÔNG TIN
                ul.footerAbove__sublist 
                  li
                    a.footerAbove__sublistLink(href="#!") Về chúng tôi
                  li
                    a.footerAbove__sublistLink(href="#!") Điều khoản & điều kiện
                  li
                    a.footerAbove__sublistLink(href="#!") Chính sách riêng tư
                  li
                    a.footerAbove__sublistLink(href="#!") Đơn đặt hàng và return
                  li
                    a.footerAbove__sublistLink(href="#!") Sơ đồ trang web
              .col-md-3
                h5.footerAbove__heading TÀI KHOẢN
                ul.footerAbove__sublist 
                  li
                    a.footerAbove__sublistLink(href="#!") Xem giỏ hàng
                  li
                    a.footerAbove__sublistLink(href="#!") Sản phẩm yêu thích
                  li
                    a.footerAbove__sublistLink(href="#!") Kiểm tra
                  li
                    a.footerAbove__sublistLink(href="#!") Theo dõi đặt hàng của tôi
                  li
                    a.footerAbove__sublistLink(href="#!") Giúp
    .footerBelow
      .container.clearfix
          p.float-left.footerBelow__copyright © Copyright 2015 - 2016 
          ul.float-right.footerBelow__payment
            li.d-inline-block.ml-3
              a.footerBelow__paymentLink(href="#!")
                img.mh-100(src="images/brand-f1.png", alt="")
            li.d-inline-block.ml-3
              a.footerBelow__paymentLink(href="#!")
                img.mh-100(src="images/brand-f2.png", alt="")
            li.d-inline-block.ml-3
              a.footerBelow__paymentLink(href="#!")
                img.mh-100(src="images/brand-f3.png", alt="")
            li.d-inline-block.ml-3
              a.footerBelow__paymentLink(href="#!")
                img.mh-100(src="images/brand-f4.png", alt="")
