mixin footer
  footer.footer__wrap
    .footer
      .container
        .row
          .col-lg-4
            .footer__logo
              a(href="#!")
                img(src="images/logo.png", alt="")
            p.contact__info
              i.fa.fa-map-marker.contact__icon
              | Tầng 4, Tòa nhà Hanoi Group  Số 442 Đội Cấn,  P. Cống Vị, Q. Ba Đình, Hà Nội
            span.contact__info.d-inline-block
              i.fa.fa-phone.contact__icon
              | (04) 6674 2332 - 
            span.contact__info.d-inline-block
              i.fa.fa-fax.contact__icon
              | (04) 3786 8904
            p.contact__info 
              i.fa.fa-phone.contact__icon
              | (08) 6680 9686 
            p.contact__info
              i.fa.fa-envelope.contact__icon
              | support@bizweb.vn
          .col-lg-8
            .row
              .col-md-3
                h5.footer__heading CHUYỂN HÀNG
                ul.footer__sublist
                  li
                    a.footer__listitem(href="#!") Mua sắm trực tuyến
                  li
                    a.footer__listitem(href="#!") Đến từ chúng tôi gửi đến
                  li
                    a.footer__listitem(href="#!") Chính sách vận chuyển
                  li
                    a.footer__listitem(href="#!") Vận chuyển thông tin
                  li
                    a.footer__listitem(href="#!") Phiếu quà tặng
              .col-md-3
                h5.footer__heading HỖ TRỢ
                ul.footer__sublist
                  li
                    a.footer__listitem(href="#!") Câu truyện của chúng ta
                  li
                    a.footer__listitem(href="#!") Thanh toán an toàn
                  li
                    a.footer__listitem(href="#!") Tuỳ chọn vận chuyển
                  li
                    a.footer__listitem(href="#!") Chính sách vận chuyển
                  li
                    a.footer__listitem(href="#!") Liên hệ với chúng tôi
              .col-md-3
                h5.footer__heading THÔNG TIN
                ul.footer__sublist 
                  li
                    a.footer__listitem(href="#!") Về chúng tôi
                  li
                    a.footer__listitem(href="#!") Điều khoản & điều kiện
                  li
                    a.footer__listitem(href="#!") Chính sách riêng tư
                  li
                    a.footer__listitem(href="#!") Đơn đặt hàng và return
                  li
                    a.footer__listitem(href="#!") Sơ đồ trang web
              .col-md-3
                h5.footer__heading TÀI KHOẢN
                ul.footer__sublist 
                  li
                    a.footer__listitem(href="#!") Xem giỏ hàng
                  li
                    a.footer__listitem(href="#!") Sản phẩm yêu thích
                  li
                    a.footer__listitem(href="#!") Kiểm tra
                  li
                    a.footer__listitem(href="#!") Theo dõi đặt hàng của tôi
                  li
                    a.footer__listitem(href="#!") Giúp
    .container.clearfix
      p.float-left.copyright © Copyright 2015 - 2016 
      ul.float-right.payment
        li.d-inline-block.ml-3
          a.payment__link(href="#!")
            img.payment__img(src="images/payment-1.png", alt="")
        li.d-inline-block.ml-3
          a.payment__link(href="#!")
            img.payment__img(src="images/payment-2.png", alt="")
        li.d-inline-block.ml-3
          a.payment__link(href="#!")
            img.payment__img(src="images/payment-3.png", alt="")
        li.d-inline-block.ml-3
          a.payment__link(href="#!")
            img.payment__img(src="images/payment-4.png", alt="")
