mixin header
  header
    section.headerTop.clearfix
      .container.clearfix
        ul.float-left
          li.headerTop__shop
            a.headerTop__shopLink(href="#!") SUNSHOP
          li.headerTop__shop
            a.headerTop__shopLink(href="#!") MARKETPLACE
          li.headerTop__shop
            a.headerTop__shopLink(href="#!") HOT DEAL
          li.headerTop__shop
            a.headerTop__shopLink(href="#!") SMAGAZINE
        ul.float-right
          li.headerTop__account
            a.headerTop__accountLink(href="#!") CHAT
          li.headerTop__account
            a.headerTop__accountLink(href="#!") TÀI KHOẢN
          li.headerTop__account
            a.headerTop__accountLink(href="#!") TRỢ GIÚP
    section.headerMiddle
      .container
        .headerMiddle__logo
          a(href="#!")
            img.w-100(src="images/logo.png", alt="logo")
        form.headerMiddle__search
          input.headerMiddle__searchInput(type="text", placeholder="Tìm kiếm sản phẩm...")
          button.headerMiddle__searchButton
        .header_cart
          img.headerMiddle__cartIcon(src="images/icon-cart.png", alt="cart icon")
          span.headerMiddle__cartText 0 sản phẩm
    section.headerBottom
      .container
        ul.headerBottom__nav
          - var headerNav = ['HÀNG MỚI VỀ', 'TRANG PHỤC', 'GIÀY TÚI XÁCH', 'PHỤ KIỆN', 'THỂ THAO', 'ĐỒNG HỒ', 'LÀM ĐẸP', 'TIN TỨC', 'CÁC THƯƠNG HIỆU', 'GIẢM ĐẾN 50%']
          each item in headerNav
            li.d-inline-block
              a.headerBottom__navItem(href="#!")= item
