mixin header
  header
    section.headertop.clearfix
      .container.clearfix
        ul.float-left
          li.headertop__shop
            a.headertop__shoplink(href="#!") SUNSHOP
          li.headertop__shop
            a.headertop__shoplink(href="#!") MARKETPLACE
          li.headertop__shop
            a.headertop__shoplink(href="#!") HOT DEAL
          li.headertop__shop
            a.headertop__shoplink(href="#!") SMAGAZINE
        ul.float-right
          li.headertop__account
            a.headertop__accountlink(href="#!") CHAT
          li.headertop__account
            a.headertop__accountlink(href="#!") TÀI KHOẢN
          li.headertop__account
            a.headertop__accountlink(href="#!") TRỢ GIÚP
    section.headermiddle
      .container
        .headermiddle__logo
          a(href="#!")
            img.headermiddle_logoimage(src="images/logo.png", alt="logo")
        form.headermiddle__search
          input.headermiddle__searchinput(type="text", placeholder="Tìm kiếm sản phẩm...")
          button.headermiddle__searchbutton
        .header_cart
          img.headermiddle__carticon(src="images/icon-cart.png", alt="cart icon")
          span.headermiddle__carttext 0 sản phẩm
    section.headerbottom
      .container
        ul.headerbottom__nav
          - var headerNav = ['HÀNG MỚI VỀ', 'TRANG PHỤC', 'GIÀY TÚI XÁCH', 'PHỤ KIỆN', 'THỂ THAO', 'ĐỒNG HỒ', 'LÀM ĐẸP', 'TIN TỨC', 'CÁC THƯƠNG HIỆU', 'GIẢM ĐẾN 50%']
          each item in headerNav
            li.d-inline-block
              a.headerbottom__navitem(href="#!")= item
