mixin header
  header
    section.top-page.clearfix
      .container.clearfix
        ul.float-left
          li.d-inline-block
            a.top-page__item(href="#!") SUNSHOP
          li.d-inline-block
            a.top-page__item(href="#!") MARKETPLACE
          li.d-inline-block
            a.top-page__item(href="#!") HOT DEAL
          li.d-inline-block
            a.top-page__item(href="#!") SMAGAZINE
        ul.float-right
          li.d-inline-block
            a.top-page__item(href="#!") CHAT
          li.d-inline-block
            a.top-page__item(href="#!") TÀI KHOẢN
          li.d-inline-block
            a.top-page__item.top-page__item--lastchild(href="#!") TRỢ GIÚP
    section.header
      .container
        .header__logo
          a(href="#!")
            img.header_logo-img(src="images/logo.png", alt="logo")
        form.search
          input.search__input(type="text", placeholder="Tìm kiếm sản phẩm...")
          button.search__button
        .cart
          img.cart__icon(src="images/icon-cart.png", alt="cart icon")
          span.cart__text 0 sản phẩm
    section.header-nav
      .container
        ul.header-nav__wrap
          - var headerNav = ['HÀNG MỚI VỀ', 'TRANG PHỤC', 'GIÀY TÚI XÁCH', 'PHỤ KIỆN', 'THỂ THAO', 'ĐỒNG HỒ', 'LÀM ĐẸP', 'TIN TỨC', 'CÁC THƯƠNG HIỆU', 'GIẢM ĐẾN 50%']
          each item in headerNav
            li.d-inline-block
              a.header-nav__item(href="#!")= item
