include main/intro
include main/banner
include main/feature
include main/bestsell
include main/advertis
include main/allproduct
include main/news
include main/brands

mixin main
  main.main
    .container
      +intro
      +banner
      +feature
      +bestsell
      +advertis
      +allproduct
      +news
    +brands
