include modules/head
include modules/header
include modules/footer
include modules/script
include modules/components/product

doctype html
html
  +head
  body
    +header
    main.main
      .container
        // banner
        .banner
          // slider
          .slider-wrapper
            .slider.owl-carousel
              each item in [1, 2, 3]
                .slider__item
                  .slider__img-wrap
                    img.slider__img(src="images/banner-1.png", alt="")
                  h2.slider__type MÁY KHOAN ĐA NĂNG
                  h1.slider__name DEWALT
                  ul.slider__list
                    li.slider__list-item
                      i.fa.fa-check.slider__icon
                      span.slider__text Thiết kể nhỏ gọn, phù hợp, đa mục đích
                    li.slider__list-item
                      i.fa.fa-check.slider__icon
                      span.slider__text Mạnh mẽ, bền bỉ và hiệu suất lớn hơn
                    li.slider__list-item
                      i.fa.fa-check.slider__icon
                      span.slider__text Khoan cắt với độ chính xác tuyệt đối
                  a.button.button--gold.button--left.button--lg(href="#!") ĐẶT HÀNG
          // intro
          .intro-wrapper
              ul.intro
                li.intro__item 
                  i.fa.fa-plane.intro__icon
                  h5.intro__heading MIỄN PHÍ VẬN CHUYỂN
                  p.intro__text Chúng tôi vận chuyển miễn phí với các đơn hàng  trị giá trên 1000.000 Đ.
                li.intro__item
                  i.fa.fa-refresh.intro__icon
                  h5.intro__heading CHÍNH SÁCH ĐỔI TRẢ
                  p.intro__text Nếu phát hiện lỗi của nhà sản xuất, chúng tôi sẽ đổi mới sản phẩm trong 7 ngày đầu tiên.
                li.intro__item
                  i.fa.fa-gift.intro__icon
                  h5.intro__heading KHUYẾN MẠI HÀNG TUẦN
                  p.intro__text Mỗi thứ 7 hàng tuần đều có chương trình giảm giá và khuyến mại lớn.
                li.intro__item.intro__item--last
                  i.fa.fa-thumbs-up.intro__icon
                  h5.intro__heading CAM KẾT HÀNG CHÍNH HÃNG
                  p.intro__text Chúng tôi cam kết bán hàng chính hãng 100% với tất cả các loại sản phẩm.

        // hightlight product
        .product-1
          .headbar
            h4.headbar__heading
              i.fa.fa-th-large.headbar__icon
              | SẢN PHẨM NỔI BẬT
            a.headbar__btn.arrow-btn.owl-next(href="#!")
              i.fa.fa-caret-right
            a.headbar__btn.arrow-btn.owl-prev(href="#!")
              i.fa.fa-caret-left
          .row
            .col-md-3
                ul.category
                  - var list = ['Máy khoan, cắt CNC', 'Máy in phun khổ lớn', 'Máy quét Canon 3D', 'Máy hàn điện Alumina', 'Máy khoan Decameta', 'Máy phay đa năng CNC', 'Máy mài, tiện DC 12V', 'Máy khoan, cắt CNC', 'Máy quay thông minh N3', 'Motor R34C đa dụng', 'Máy in laser màu 3D']
                  each item in list 
                    li
                      a.category__item(class={'category__item--last': item==='Máy in laser màu 3D'},href="#!")
                        i.fa.fa-th-large.category__icon
                        | #{item}

            .col-md-9
              .row
                each item in [1, 2, 3, 4, 5, 6]
                  .col-md-4
                    +product("images/hightlight-"+item+".png", 'sm')

        // new products
        .product-2
          .headbar
            h4.headbar__heading
              i.fa.fa-th-large.headbar__icon
              | SẢN PHẨM MỚI
            a.headbar__btn.arrow-btn.owl-next(href="#!")
              i.fa.fa-caret-right
            a.headbar__btn.arrow-btn.owl-prev(href="#!")
              i.fa.fa-caret-left
            if (nav)
              ul.headbar__nav.filter
                - var list = ['Máy khoan', 'Máy in 3D', 'Máy CNC', 'Máy tiện', 'Máy khác']
                each item in list 
                  li.d-inline-block
                    a.filter__option(href="#!")= item
          .owl-carousel.product-2__slider
            each item in [1, 2, 3, 1, 2, 3]
              .item
                +product('images/new-'+item+'.png', 'md')

        // advertise 1
        .row
          .col-md-6
            .ads-1
              a(href="#!")
                img.ads-1__img(src="images/ad-1.png", alt="")
          .col-md-6
            .ads-1
              a(href="#!")
                img.ads-1__img(src="images/ad-2.png", alt="")

        // best sell product
        .product-3
          .headbar
            h4.headbar__heading
              i.fa.fa-th-large.headbar__icon
              | SẢN PHẨM BÁN CHẠY
            a.headbar__btn.arrow-btn.owl-next(href="#!")
              i.fa.fa-caret-right
            a.headbar__btn.arrow-btn.owl-prev(href="#!")
              i.fa.fa-caret-left
            ul.headbar__nav.filter
              - var list = ['Máy khoan', 'Máy in 3D', 'Máy CNC', 'Máy tiện', 'Máy khác']
              each item in list 
                li.d-inline-block
                  a.filter__option(href="#!")= item
          .row
            .col-md-3
              +product("images/bestsell-1.png", 'sm')
              +product("images/bestsell-4.png", 'sm')
            .col-md-6
              +product("images/bestsell-0.png", 'lg')
            .col-md-3
              +product("images/bestsell-2.png", 'sm')
              +product("images/bestsell-3.png", 'sm')

        // advertise 2
        .ads-2
          a(href="#!")
            img.ads-2__img(src="images/ad-3.png", alt="")

        // new coming products
        .product-4
          .headbar
            h4.headbar__heading
              i.fa.fa-th-large.headbar__icon
              | HÀNG MỚI VỀ
            a.headbar__btn.arrow-btn.owl-next(href="#!")
              i.fa.fa-caret-right
            a.headbar__btn.arrow-btn.owl-prev(href="#!")
              i.fa.fa-caret-left
          .row
            each item in [1, 2, 3, 4]
              .col-md-6
                +h_product("images/coming-"+item+".png")

      // brand slide
      .brands
        .container
          .brands-wrapper
            span.brands-prev.fa.fa-chevron-left
            span.brands-next.fa.fa-chevron-right
            ul.slider-2.owl-carousel
              each item in [1, 2, 3, 4, 5, 6]
                li.slider-2__slide
                  a.slider-2__link(href="#!")
                    img.slider-2__img(src="images/brand-"+item+".png", alt="")

      // subscribe
      .subscribe
        h2.subscribe__heading Đăng kí để nhận tin tức khuyến mại hàng tuần
        form.subscribe__form
          input.subscribe__input.form-control(type="text", placeholder="Nhập email của bạn...")
          button.subscribe__btn ĐĂNG KÍ
    +footer
    +script
