mixin news(src)
  .row
    .col-sm-6
      img.news__image(src=src, alt="")
    .col-sm-6
      .news__info
        span.d-inline-block.news__info-item 22/06/2011
        span.d-inline-block.news__info-item Đăng bởi Giangle
        span.d-inline-block.news__info-item 0 comments
      h4.news__title Chiến lược chọn mua mỹ phẩm thông minh
      p.news__content Một khi đã biết chăm chút vẻ ngoài cho bản thân mình, định kỳ, các cô nàng sẽ phải đầu tư một khoản kha khá để đầu tư cho các sản phẩm dưỡng da, đồ mỹ phẩm...
      a.news__readmore(href="#!")
        | Xem thêm
        i.fa.fa-chevron-right.news__arrowicon
