mixin product(src)
  img.product__img(src=src, alt="")
  h5.product__name Áo thun tay ngắn cổ dài
  p.mb-1
    span.product__price--old 320.000
      sup đ
    |  -
    span.product__price--new 280.000
      sup đ
  button.btn.btn-secondary.product__buy Mua hàng
