$light-blue: #24c5d9;
$goldish-brown: #e6ae48;
$red: #9c0001;
$gray: #737373;
$gray-border: #e7e7e7;

$white-opacity-9: rgba(255,255,255,0.9);
$white-opacity-5: rgba(255,255,255,0.5);
$white-opacity-1: rgba(255,255,255,0.15);
$black-opacity-5: rgba(0,0,0,0.5);
