body {
  font-family: Helvetica, Arial, Open Sans, sans-serif;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a{
  &,
  &:hover,
  &:active,
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}

input,
button {
  &,
  &:active,
  &:focus {
    outline: 0;
  }
}
