.button {
  display: inline-block;
  width: 112px;
  line-height: 38px;
  font-size: 12px;
  font-weight: bold;
  font-family: $roboto;
  text-align: center;
  border: 1px solid transparent;
  &--gold {
    color: $white;
    background-color: $gold;
    &:hover {
      color: $gold;
      border-color: $gold;
      background-color: $white;
    }
  }
  &--black {
    color: $white;
    background-color: $lighter-black;
    margin-left: 5px;
    &:hover {
      color: $lighter-black;
      border-color: $lighter-black;
      background-color: $white;
    }
  }
  &--lg {
    font-size: 16px;
  }
}

.arrow-btn {
  display: block;
  width: 34px;
  line-height: 32px;
  font-size: 12px;
  text-align: center;
  border: 1px solid $black-collapse;
  color: $black-collapse;
  &:hover {
    color: $white;
    background-color: $lighter-black;
    border-color: $lighter-black;
  }
}
