.headbar {
  & {
    width: 100%;
    margin-bottom: 40px;
    @include clearfix;
    overflow-wrap: break-word;
  }
  &__heading {
    float: left;
    position: relative;
    padding-left: 20px;
    margin: 0;
    line-height: 34px;
    font-size: 18px;
    font-family: $roboto;
    font-weight: 600;
    color: $lighter-black;
    word-break: break-word;
  }
  &__icon {
    position: absolute;
    top: 11px;
    left: 0;
    color: $gold;
    font-size: 12px;
  }
  &__btn {
    float: right;
    margin-left: 5px;
  }
  &__nav {
    float: right;
    margin-right: 15px;
  }
}

.filter {
  &__option {
    display: block;
    font-size: 13px;
    line-height: 32px;
    padding: 0 16px;
    color: $black-collapse;
    border: 1px solid $black-collapse;
    margin-right: 10px;
    &:hover {
      color: $white;
      background-color: $gold;
      border-color: transparent;
    }
  }
}
