.product {
  position: relative;
  width: 100%;
  margin-bottom: 32px;
  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid $lighter-white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    background-color: $white;
  }
  &__img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  &__img {
    max-width: 100%;
    max-height: 100%;
  }
  &__price {
    color: $scalet;
    font-size: 14px;
    font-family: $roboto;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
    overflow-wrap: break-word;
  }
  &__name {
    font-size: 14px;
    font-family: $roboto;
    font-weight: 600;
    color: $lighter-black;
    text-align: center;
    margin: 12px 0;
    overflow-wrap: break-word;
  }
  &__rate {
    text-align: center;
    font-size: 12px;
    line-height: 13px;
    color: $light-gray;
    margin-bottom: 20px;
  }
  &__btn-wrap {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 231px;
    height: 0;
    overflow: hidden;
    transition: height .2s ease-in-out
  }
  &:hover &__inner {
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    z-index: 1000;
  }
  &:hover &__btn-wrap {
    height: 40px;
  }

  .fa-star, .fa-star-o {
    color: $gold;
    margin-left: -2px;
  }
}

.product--sm {
  height: 324px;
  .product__inner {
    padding: 20px 0;
  }
  .product__img-wrap {
    height: 160px;
    width: 160px;
    margin-bottom: 30px;
  }
}
.product--md {
  height: 440px;
  .product__inner {
    padding: 30px 0;
  }
  .product__img-wrap {
    height: 280px;
    width: 280px;
  }
}
.product--lg {
  height: 680px;
  .product__inner {
    padding: 30px 0;
  }
  .product__img-wrap {
    height: 456px;
    width: 456px;
    margin-bottom: 75px;
  }
  .product__price {
    font-size: 18px;
    margin: 0;
  }
  .product__name {
    font-size: 18px;
    margin: 10px 0;
  }
}
