.breadcumb {
  margin-top: 79px;

  &__list {
    padding: 20px 0;
    border-bottom: 1px dashed $lighten-grey;
  }

  &__item {
    float: left;

    &::after {
      content: '\f054';
      font-family: "FontAwesome";
      font-size: 8px;
      margin-right: 3px;
    }

    &--last {
      color: $lighter-green;

      &::after {
        content: '';
        display: none;
      }
    }
  }

  &__link,
  &__thispage {
    display: inline-block;
    margin-right: 6px;
    font-size: 12px;
    font-family: $opensans;    
  }

  &__thispage {
    color: $lighter-green;

    &--red {
      color: $red;
    }
  }

  &__link {
    color: $light-gray;

    &.active {
      color: $lighter-green;
    }

    &:hover {
      text-decoration: underline;
      color: $lighter-green;
    }
  }
}
