.hash-line {
  display: flex;
  height: 10px;
  width: 150px;
  align-items: center;
  font-size: 10px;
  line-height: 10px;
  color: $grey;

  &::before,
  &::after {
    content: '';
    display: block;
    flex: 1;
    height: 1px;
    background-color: $grey;
  }

  &::before {
    margin-right: 5px;
  }

  &::after {
    margin-left: 5px;
  }

  &--w100 {
    width: 100%;
    margin-bottom: 40px;
  }
}
