.tags {
  @include clearfix;
  
  &__tag {
    display: inline-block;
    float: left;
    margin-right: 8px;
    margin-bottom: 10px;
  }

  &__link {
    display: block;
    padding: 0 8px;
    font-size: 12px;
    line-height: 22px;
    color: $lighter-gray;
    border: 1px solid $lighten-grey;

    &:hover {
      background-color: $lighter-green;
      color: $white;
      border-color: transparent;
    }
  }
}
