mixin main__allproduct
  section.main__allproduct
    .main__header
      h3.main__heading Sản phẩm bán chạy
      ul
        li.d-inline-block
          a.main__filterproduct(href="#!") Nam
        li.d-inline-block
          a.main__filterproduct.main__filterproduct--active(href="#!") Nữ
        li.d-inline-block
          a.main__filterproduct.main__filterproduct--lastchild(href="#!") Trẻ em
      a.main__arrowbutton.main__arrowbutton--active(href="#!")
        img.main_arrowicon(src="images/arrow-l.png", alt="")
      a.main__arrowbutton(href="#!")
        img.main_arrowicon(src="images/arrow-r.png", alt="")
    .row
      .col-lg-3.col-md-4.col-sm-6.main__product
        img.main__productimage(src="images/item-1.png", alt="")
        h5.main__productname Áo thun tay ngắn cổ tròn
        p.mb-1
          del.main__oldprice 340.000
          sup đ
          |  -
          span.main__newprice 268.000
            sup đ
        button.btn.btn-secondary.main__buybutton Mua hàng
      .col-lg-3.col-md-4.col-sm-6.main__product
        img.main__productimage(src="images/item-2.png", alt="")
        h5.main__productname Áo thun tay ngắn cổ tròn
        p.mb-1
          del.main__oldprice 340.000
          sup đ
          |  -
          span.main__newprice 268.000
            sup đ
        button.btn.btn-secondary.main__buybutton Mua hàng
      .col-lg-3.col-md-4.col-sm-6.main__product
        img.main__productimage(src="images/item-3.png", alt="")
        h5.main__productname Áo thun tay ngắn cổ tròn
        p.mb-1
          del.main__oldprice 340.000
          sup đ
          |  -
          span.main__newprice 268.000
            sup đ
        button.btn.btn-secondary.main__buybutton Mua hàng
      .col-lg-3.col-md-4.col-sm-6.main__product
        img.main__productimage(src="images/item-4.png", alt="")
        h5.main__productname Áo thun tay ngắn cổ tròn
        p.mb-1
          del.main__oldprice 340.000
          sup đ
          |  -
          span.main__newprice 268.000
            sup đ
        button.btn.btn-secondary.main__buybutton Mua hàng
      .col-lg-3.col-md-4.col-sm-6.main__product
        img.main__productimage(src="images/item-1.png", alt="")
        h5.main__productname Áo thun tay ngắn cổ tròn
        p.mb-1
          del.main__oldprice 340.000
          sup đ
          |  -
          span.main__newprice 268.000
            sup đ
        button.btn.btn-secondary.main__buybutton Mua hàng
      .col-lg-3.col-md-4.col-sm-6.main__product
        img.main__productimage(src="images/item-2.png", alt="")
        h5.main__productname Áo thun tay ngắn cổ tròn
        p.mb-1
          del.main__oldprice 340.000
          sup đ
          |  -
          span.main__newprice 268.000
            sup đ
        button.btn.btn-secondary.main__buybutton Mua hàng
      .col-lg-3.col-md-4.col-sm-6.main__product
        img.main__productimage(src="images/item-3.png", alt="")
        h5.main__productname Áo thun tay ngắn cổ tròn
        p.mb-1
          del.main__oldprice 340.000
          sup đ
          |  -
          span.main__newprice 268.000
            sup đ
        button.btn.btn-secondary.main__buybutton Mua hàng
      .col-lg-3.col-md-4.col-sm-6.main__product
        img.main__productimage(src="images/item-4.png", alt="")
        h5.main__productname Áo thun tay ngắn cổ tròn
        p.mb-1
          del.main__oldprice 340.000
          sup đ
          |  -
          span.main__newprice 268.000
            sup đ
        button.btn.btn-secondary.main__buybutton Mua hàng
