$green: #3baf29;
$white: #ffffff;
$black: #000000;
$yellow: #f0aa0a;
$blue: #0089f2;
$red: #d30d0d;
$placeholder: #9B9B9B;
$gray: #ddd;
$gold: #f5bd10;

$lighter-black: #222222;
$lighten-black: #333333;
$lightest-black: #494949;

$gray: #737373;

$lighter-grey: #d1d1d1;
$lighten-grey: #e6e6e6;

$lighter-green: #789629;
$white-transparent:  rgba(255,255,255,0.8);
