$green: #3baf29;
$white: #ffffff;
$black: #000000;
$yellow: #f0aa0a;
$blue: #0089f2;
$red: #d30d0d;
$placeholder: #9B9B9B;
$gray: #ddd;
$gold: #f5bd10;

$lighter-black: #222222;
$lighten-black: #333333;
$lightest-black: #494949;

$gray: #737373;
$light-gray: #818181;
$lighter-gray: #939393;

$grey: #b4b4b4;
$light-grey: #c2c2c2;
$lighter-grey: #d1d1d1;
$lighten-grey: #e6e6e6;

$lighter-green: #789629;
$greenish-grey: #cbd4b3;
$brownish-yellow: #e3ce33;
$bluish-gray: #cbd3df;
$greenish-blue: #88d8da;
$pink: #f49ac2;
$white-transparent:  rgba(255,255,255,0.8);
$white-transparent-5: rgba(255,255,255,0.5);
