body {
  font-family: Helvetica, Arial, Open Sans, sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  &,
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline: 0;
  }
}

input,
textarea,
button {
  &,
  &:focus {
    outline: 0;
  }
}
