@import url('https://fonts.googleapis.com/css?family=Lobster|Playball|Raleway|Roboto|Open+Sans|Roboto+Slab');

$lobster: 'Lobster', cursive;
$roboto: 'Roboto', sans-serif;
$robotoslab: 'Roboto Slab', serif;
$playball: 'Playball', cursive;
$raleway: 'Raleway', sans-serif;
$opensans: 'Open Sans', sans-serif;
