.intro {
  text-align: center;
  margin: 40px 0 42px 0;
  border-right: 1px solid $light-grey;

  &--last {
    border-right: 0;
  }

  &__icon {
    height: 25px;
    width: auto;
    margin-bottom: 6px;
  }
  &__text {
    font-size: 14px;
    line-height: 19px;
  }
}

.homegrid {
  &__link {
    display: inline-block;
    width: 100%;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: 100;
      border: 22px solid;
      top: 50%;
      margin-top: -22px;
    }
  }

  &__card-1 {
    background-color: $brownish-yellow;
    color: $white;

    .hash-line {
      color: $lighten-grey;
      &::before,
      &::after {
        background-color: $lighten-grey;
      }
    }
    &::before {
      right: 100%;
      border-color: transparent $brownish-yellow transparent transparent;
    }
  }

  &__card-2 {
    background-color: $bluish-gray;
    &::before {
      left: 100%;
      border-color: transparent transparent transparent $bluish-gray;
    }
  }

  &__card-3 {
    background-color: $greenish-blue;
    &::before {
      left: 100%;
      border-color: transparent transparent transparent $greenish-blue;
    }
  }

  &__card-4 {
    background-color: $pink;
    &::before {
      right: 100%;
      border-color: transparent $pink transparent transparent;
    }
  }

  &__heading {
    font-size: 30px;
    font-weight: 300;
    font-family: $robotoslab;
  }

  &__hashline {
    color: $lighter-black;

    &::before,
    &::after {
      background-color: $lighter-black;
    }
  }
}

.speak {
  padding: 100px 0;
  background-image: url('../images/speak-bg.png');
  background-repeat: no-repeat;
  background-position: right center;

  &__slider {
    max-width: 780px;
    position: relative;

    .owl-dots {
      position: absolute;
      left: 200px;
      bottom: -20px;
      @include clearfix;
    }

    .owl-dot {
      display: inline-block;
      float: left;
      margin-right: 8px;

      & > span {
        display: inline-block;
        width: 7px;
        height: 7px;
        background-color: $gray;
      }

      &.active > span {
        background-color: $lighter-black;
      }
    }
  }

  &__slide {
    @include clearfix;
  }

  &__avatar {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 3px solid $greenish-grey;
    border-radius: 50%;
    padding: 10px;
    float: left;
  }
  
  &__img {
    width: 100%;
    height: 100%;
  }

  &__text {
    font-size: 16px;
    margin: 20px 0 25px 200px;

    &::before {
      content: '"';
      font-size: 18px;
      color: $lighter-green;
      margin-right: 4px;
    }

    &::after {
      content: '"';
      font-size: 18px;
      color: $lighter-green;
      margin-left: 4px;
    }
  }

  &__speaker {
    font-size: 14px;
    font-weight: 300;
    font-family: $opensans;
    margin-left: 200px;
    color: $lighter-black;

    &--italic {
      font-style: italic;
      color: $gray;
      font-size: 15px;
      font-weight: 500;
    }
  }
}

.social {
  display: flex;
  width: 100%;
  height: 120px;
  justify-content: space-around;
  align-items: center;

  &__link {
    font-size: 12px;
    color: $light-grey;
    position: relative;
    margin-left: 40px;

    &:hover {
      color: $lighter-black;
    }
  }

  &__link:hover &__icon {
    border-color: $lighter-black;
  }

  &__icon {
    display: flex;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 2px solid $light-grey;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -40px;
  }
}

.widget {
  &__heading {
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    font-family: $opensans;
    margin-bottom: 20px;
  }
}

.home-info {
  padding-bottom: 90px;
}

.sendmail {
  font-size: 12px;
  font-weight: bold;
  font-family: $opensans;
  text-align: center;
  padding-bottom: 20px;

  &__input {
    width:  100%;
    height: 36px;
    border: 1px solid $lighten-grey;
    color: $gray;
    padding: 0 20px;
  }

  &__desc {
    font-size: 12px;
    color: $gray;
    margin: 12px 0 15px;
  }
}

.home-about {
  font-family: $opensans;
  font-size: 12px;

  &__logo {
    height: 55px;
    width: 100%;
    margin-bottom: 30px;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__heading {
    font-size: 12px;
    color: $lighter-black;
    font-weight: 700;
    margin-bottom: 18px;
  }

  &__text {
    color: $lightest-black;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 18px;
  }

  &__readmore {
    font-size: 12px;
    color: $lighter-gray;
    &:hover {
      color: $lighter-black;
    }
  }
}
