.banner {
  width: 100%;
  overflow: hidden;
  background-color: $lightest-grey;

  &__wrap {
    display: flex;
    align-items: stretch;
  }

  &__image {
    flex: 1;
    position: relative;
  }

  &__img {
    position: absolute;
    z-index: 100;
    height: 100%;
    top: 0;

    @media screen and (max-width: 399px) {
      display: none;
    }

    @media screen and (min-width: 400px) and (max-width: 767px) {
      left: -35px;
    }

    @media screen and (min-width: 768px) {
      left: 40px;
    }
  }
}

.banner-product {
  text-align: center;
  padding: 110px 0 40px;
  
  @media screen and (max-width: 1199px) {
    width: 300px;

    &__img {
      height: 181px;
    }

    &__name {
      font-size: 88px;
    }

    &__desc {
      font-size: 16px;
    }

    &__price {
      font-size: 32px;
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width: 400px) {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    width: 490px;

    &__img {
      height: 400px;
    }

    &__name {
      font-size: 140px;
    }

    &__desc {
      font-size: 19px;
    }

    &__price {
      font-size: 45px;
      margin-bottom: 20px;
    }
  }

  &__img {
    mix-blend-mode: multiply;
    filter: contrast(1.3);
  }

  &__name {
    font-family: $viceroy;
    line-height: 1;
    color: $lighter-green;
  }

  &__desc {
    font-family: $opensans;
    font-weight: 300;
    color: $brown;
  }

  &__price {
    display: block;
    font-family: $opensans;
    font-weight: 300;
    color: $lighter-green;
  }

  &__buy {
    font-family: $opensans;
    font-size: 18px;
    color: $black;
    text-decoration: underline;
    &:hover {
      color: $lighter-green;
    }
  }
}

.intro {
  
  @media screen and (max-width: 767px) {
    margin: 10px 0;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 30px 0;
      border-bottom: 1px solid $light-grey;

      &--last {
        border-bottom: 0;
      }
    }

    &__icon {
      width: 40px;
      max-height: 40px;
      margin-right: 40px;
    }

    &__text {
      display: inline-block;
      width: 200px;
      vertical-align: middle;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 40px 0 45px;

    &__item {
      border-right: 1px solid $light-grey;
      text-align: center;

      &--last {
        border-right: 0;
      } 
    }

    &__icon {
      width: 25px;
      margin-bottom: 10px;
    }

    &__text {
      font-size: 14px;
      line-height: 19px;
    }
  }
}

.homegrid {
  &__link {
    display: inline-block;
    width: 100%;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: 100;
      border: 20px solid;
      top: 50%;
      margin-top: -20px;
    }
  }

  &__card-1 {
    background-color: $brownish-yellow;
    color: $white;

    .hash-line {
      color: $lighten-grey;
      &::before,
      &::after {
        background-color: $lighten-grey;
      }
    }
    &::before {
      right: 100%;
      border-color: transparent $brownish-yellow transparent transparent;
    }
  }

  &__card-2 {
    background-color: $bluish-gray;
    &::before {
      left: 100%;
      border-color: transparent transparent transparent $bluish-gray;
    }
  }

  &__card-3 {
    background-color: $greenish-blue;
    &::before {
      left: 100%;
      border-color: transparent transparent transparent $greenish-blue;
    }
  }

  &__card-4 {
    background-color: $pink;
    &::before {
      right: 100%;
      border-color: transparent $pink transparent transparent;
    }
  }

  &__heading {
    font-weight: 300;
    font-family: $robotoslab;

    @media screen and (max-width: 575px) {
      font-size: 18px;
    }

    @media screen and (min-width: 576px) {
      font-size: 24px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 30px;
    }
  }

  &__hashline {
    color: $lighter-black;
    width: 60%;

    &::before,
    &::after {
      background-color: $lighter-black;
    }
  }
}

.speak {
  margin: 60px 0;
  padding: 40px 0;
  position: relative;

  &__bg {
    position: absolute;
    right: 0;
    max-height: 100%;
    max-width: 100%;
  }

  @media screen and (max-width: 991px) {
    &__bg {
      opacity: 0.5;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media screen and (min-width: 992px) {
    &__bg {
      bottom: 0;
    }
  }

  &__avatar {
    display: inline-block;
    border: 3px solid $greenish-grey;
    border-radius: 50%;
    padding: 6px;
  }

  &__img {
    width: 100%;
    height: 100%;
  }
  
  &__text {
    font-family: $opensans;
    font-weight: 600;

    &::before {
      content: '"';
      font-size: 18px;
      color: $lighter-green;
      margin-right: 4px;
    }

    &::after {
      content: '"';
      font-size: 18px;
      color: $lighter-green;
      margin-left: 4px;
    }
  }

  &__speaker {
    font-size: 14px;
    font-weight: 300;
    font-family: $opensans;
    color: $lighter-black;

    &--italic {
      font-style: italic;
      color: $gray;
      font-size: 15px;
      font-weight: 500;
    }
  }

  &__slider {
    position: relative;

    .owl-dots {
      position: absolute;
      @include clearfix;
    }

    .owl-dot {
      display: inline-block;
      float: left;
      margin-right: 8px;

      & > span {
        display: inline-block;
        width: 7px;
        height: 7px;
        background-color: $gray;
      }

      &.active > span {
        background-color: $lighter-black;
      }
    }
  }

  @media screen and (max-width: 575px) {
    &__slide {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }

    &__avatar {
      float: left;
      width: 96px;
      height: 96px;
      -webkit-order: 2;
      order: 2;
      margin-right: 10px;
    }

    &__text {
      margin: 0 30px;
      text-align: center;
      font-size: 14px;
      margin-bottom: 55px;
    }

    &__speaker {
      width: calc(100% - 106px);
      padding-top: 20px;
      -webkit-order: 2;
      order: 2;

      &--italic {
        display: block;
      }
    }

    &__slider {
      .owl-dots {
        left: 50%;
        bottom: 120px;
        transform: translate(-50%);
      }
    }
  }

  @media screen and (min-width: 576px) {
    &__slide { 
      @include clearfix;
    }

    &__avatar {
      float: left;
      width: 150px;
      height: 150px;
      margin-right: 50px;
    }

    &__text {
      max-width: 630px;
      margin-left: 200px;
      font-size: 16px;
    }

    &__speaker--italic::before {
      content: "_ ";
    }

    &__slider {
      .owl-dots {
        left: 200px;
        bottom: -20px;
      }
    }
  }
}

.home-product {
  border-top: 1px solid $lighten-grey;
  background: url('../images/home-product-bg.png') no-repeat;
  background-size: cover;
  padding: 50px 0;

  .hash-line {
    margin: auto;
    width: 294px;
  }
}

.category {
  margin-bottom: 20px;

  &__item {
    font-family: $lobster;
    font-size: 18px;
    line-height: 36px;
    color: $light-grey;
    margin: 3px 0;
    cursor: pointer;
    transition: font-size .1s ease-in-out;

    &.active {
      font-size: 34px; 
      color: $lighter-green;
    } 
  }

  &__line {
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: $lighten-grey;
  }

  @media screen and (max-width: 767px) {
    &__item {
      margin-left: 30px;
        
      &.active {
        font-size: 34px;
      }
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;

    &__item {
      border-right: 1px solid $lighter-grey;
      padding: 0 22px;

      &--last {
        border-right: 0;
      }
    }
  }
}

.category-2 {
  display: flex;
  flex-flow: row wrap;
  margin: 40px 0 60px;
  
  &__item {
    padding: 0 15px;
    cursor: pointer;
    line-height: 24px;
    font-size: 14px;
    font-family: $opensans;
    font-weight: 500;
    color: $light-gray;

    &.active {
      color: $lighter-green;
      font-weight: 600;
    }
  }

  @media screen and (max-width: 767px) {
    list-style: disc inside;

    &__item {
      width: 50%;
    }
  }

  @media screen and (min-width: 768px) {
    justify-content: center;

    &__item {
      
      &::after {
        content: '.';
        position: relative;
        left: 15px;
      }

      &--last::after {
        content: '';
      }
    }
  }
}

.product-tabs {
  height: 0;
  overflow: hidden;

  &.active {
    height: auto;
  }
}

@media screen and (min-width: 1200px) {
  .product-tabs {
    max-width: 100%;
    width: 100%;
  }
}

// product
.product-slider {
  position: relative;

  @media screen and (max-width: 1199px) {
    &__next,
    &__prev {
      display: none;
    }
  }

  @media screen and (min-width: 1200px) {
    &__next,
    &__prev {
      position: absolute;
      z-index: 200;
      top: 50%;
      transform: translateY(-50%);
      left: calc(75% - 15px);
    }
    &__prev {
      left: auto;
      right: calc(75% - 15px);
    }
  }

  @media screen and (min-width: 1600px) {
    &__prev {
      right: calc(83.3333% - 15px);
    }

    &__next {
      left: calc(83.33333% - 15px);
    }
  }
}

.slider {
  &__slide {
    padding: 0 15px;
    text-align: center;
  }

  .owl-item.js-first-item,
  .owl-item.js-last-item {
    opacity: 0.3;

    .product__price--new {
      color: $red;
    }
  }
}

.social {
  margin: 45px 0 60px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: $light-grey;
    position: relative;

    &:hover,
    &:active,
    &:focus {
      color: $lighter-black;

      .social__icon {
        border-color: $lighter-black;
        color: $lighter-black;
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    font-size: 16px;
    border: 2px solid $light-grey;
    border-radius: 50%;
  }
}

.widget {
  margin-bottom: 50px;

  &__heading {
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    font-family: $opensans;
    margin-bottom: 20px;
  }
}

.home-info {
  padding-bottom: 40px;
}

.sendmail {
  font-size: 12px;
  font-weight: bold;
  font-family: $opensans;
  text-align: center;

  &__input {
    width:  100%;
    height: 36px;
    border: 1px solid $lighten-grey;
    color: $gray;
    padding: 0 20px;
  }

  &__desc {
    font-size: 12px;
    color: $gray;
    margin: 12px 0 15px;
  }
}

.home-about {
  font-family: $opensans;
  font-size: 12px;

  &__logo {
    height: 55px;
    width: 100%;
    margin-bottom: 30px;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__heading {
    font-size: 12px;
    color: $lighter-black;
    font-weight: 700;
    margin-bottom: 18px;
  }

  &__text {
    color: $lightest-black;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 18px;
  }

  &__readmore {
    font-size: 12px;
    color: $lighter-gray;
    &:hover {
      color: $lighter-black;
    }
  }
}
