.banner {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: $lightest-grey;
}

.banner-product {
  display: inline-block;
  width: 500px;
  text-align: center;
  margin: 50px 0;
  &__img {
    mix-blend-mode: multiply;
    filter: contrast(1.1);
  }

  &__name {
    font-family: $playball;
    font-size: 100px;
    color: $lighter-green;
  }

  &__desc {
    font-family: $opensans;
    color: $brown;
  }

  &__price { 
    display: block;
    font-family: $opensans;
    font-size: 45px;
    font-weight: 300;
    color: $lighter-green;
    margin-bottom: 10px;
  }

  &__buy {
    font-family: $opensans;
    font-size: 18px;
    color: $black;
    text-decoration: underline;
    &:hover {
      color: $lighter-green;
    }
  }

}

.intro {
  text-align: center;
  margin: 40px 0 42px 0;
  border-right: 1px solid $light-grey;

  &--last {
    border-right: 0;
  }
  &__icon {
    height: 25px;
    width: auto;
    margin-bottom: 6px;
  }
  &__text {
    font-size: 14px;
    line-height: 19px;
  }
}

.homegrid {
  &__link {
    display: inline-block;
    width: 100%;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: 100;
      border: 22px solid;
      top: 50%;
      margin-top: -22px;
    }
  }

  &__card-1 {
    background-color: $brownish-yellow;
    color: $white;

    .hash-line {
      color: $lighten-grey;
      &::before,
      &::after {
        background-color: $lighten-grey;
      }
    }
    &::before {
      right: 100%;
      border-color: transparent $brownish-yellow transparent transparent;
    }
  }

  &__card-2 {
    background-color: $bluish-gray;
    &::before {
      left: 100%;
      border-color: transparent transparent transparent $bluish-gray;
    }
  }

  &__card-3 {
    background-color: $greenish-blue;
    &::before {
      left: 100%;
      border-color: transparent transparent transparent $greenish-blue;
    }
  }

  &__card-4 {
    background-color: $pink;
    &::before {
      right: 100%;
      border-color: transparent $pink transparent transparent;
    }
  }

  &__heading {
    font-size: 30px;
    font-weight: 300;
    font-family: $robotoslab;
  }

  &__hashline {
    color: $lighter-black;

    &::before,
    &::after {
      background-color: $lighter-black;
    }
  }
}

.speak {
  padding: 100px 0;
  background: url('../images/speak-bg.png') no-repeat right center;

  &__slider {
    max-width: 780px;
    position: relative;

    .owl-dots {
      position: absolute;
      left: 200px;
      bottom: -20px;
      @include clearfix;
    }

    .owl-dot {
      display: inline-block;
      float: left;
      margin-right: 8px;

      & > span {
        display: inline-block;
        width: 7px;
        height: 7px;
        background-color: $gray;
      }

      &.active > span {
        background-color: $lighter-black;
      }
    }
  }

  &__slide {
    @include clearfix;
  }

  &__avatar {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 3px solid $greenish-grey;
    border-radius: 50%;
    padding: 10px;
    float: left;
  }
  
  &__img {
    width: 100%;
    height: 100%;
  }

  &__text {
    font-size: 16px;
    margin: 20px 0 25px 200px;

    &::before {
      content: '"';
      font-size: 18px;
      color: $lighter-green;
      margin-right: 4px;
    }

    &::after {
      content: '"';
      font-size: 18px;
      color: $lighter-green;
      margin-left: 4px;
    }
  }

  &__speaker {
    font-size: 14px;
    font-weight: 300;
    font-family: $opensans;
    margin-left: 200px;
    color: $lighter-black;

    &--italic {
      font-style: italic;
      color: $gray;
      font-size: 15px;
      font-weight: 500;
    }
  }
}

.intro {
  text-align: center;
  margin: 40px 0 42px 0;
  border-right: 1px solid $light-grey;

  &--last {
    border-right: 0;
  }

  &__icon {
    height: 25px;
    width: auto;
    margin-bottom: 6px;
  }
  &__text {
    font-size: 14px;
    line-height: 19px;
  }
}

.homegrid {
  &__link {
    display: inline-block;
    width: 100%;
  }

  &__img {
    width: 100%;
    height: auto;
  }

  &__card {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      z-index: 100;
      border: 22px solid;
      top: 50%;
      margin-top: -22px;
    }
  }

  &__card-1 {
    background-color: $brownish-yellow;
    color: $white;

    .hash-line {
      color: $lighten-grey;
      &::before,
      &::after {
        background-color: $lighten-grey;
      }
    }
    &::before {
      right: 100%;
      border-color: transparent $brownish-yellow transparent transparent;
    }
  }

  &__card-2 {
    background-color: $bluish-gray;
    &::before {
      left: 100%;
      border-color: transparent transparent transparent $bluish-gray;
    }
  }

  &__card-3 {
    background-color: $greenish-blue;
    &::before {
      left: 100%;
      border-color: transparent transparent transparent $greenish-blue;
    }
  }

  &__card-4 {
    background-color: $pink;
    &::before {
      right: 100%;
      border-color: transparent $pink transparent transparent;
    }
  }

  &__heading {
    font-size: 30px;
    font-weight: 300;
    font-family: $robotoslab;
  }

  &__hashline {
    color: $lighter-black;

    &::before,
    &::after {
      background-color: $lighter-black;
    }
  }
}

.speak {
  padding: 100px 0;
  background: url('../images/speak-bg.png') no-repeat right center;
  &__slider {
    max-width: 780px;
    position: relative;

    .owl-dots {
      position: absolute;
      left: 200px;
      bottom: -20px;
      @include clearfix;
    }

    .owl-dot {
      display: inline-block;
      float: left;
      margin-right: 8px;

      & > span {
        display: inline-block;
        width: 7px;
        height: 7px;
        background-color: $gray;
      }

      &.active > span {
        background-color: $lighter-black;
      }
    }
  }

  &__slide {
    @include clearfix;
  }

  &__avatar {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 3px solid $greenish-grey;
    border-radius: 50%;
    padding: 10px;
    float: left;
  }
  
  &__img {
    width: 100%;
    height: 100%;
  }

  &__text {
    font-size: 16px;
    margin: 20px 0 25px 200px;

    &::before {
      content: '"';
      font-size: 18px;
      color: $lighter-green;
      margin-right: 4px;
    }

    &::after {
      content: '"';
      font-size: 18px;
      color: $lighter-green;
      margin-left: 4px;
    }
  }

  &__speaker {
    font-size: 14px;
    font-weight: 300;
    font-family: $opensans;
    margin-left: 200px;
    color: $lighter-black;

    &--italic {
      font-style: italic;
      color: $gray;
      font-size: 15px;
      font-weight: 500;
    }
  }
}

.home-product {
  background: url('../images/home-product-bg.png') no-repeat;
  background-size: cover;
  padding: 50px 0;

  .hash-line {
    margin: auto;
    width: 294px;
  }
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  
  &__item {
    display: inline-block;
    font-family: $lobster;
    font-size: 18px;
    line-height: 45px;
    color: $light-grey;
    padding: 0 22px;
    cursor: pointer;
    transition: font-size .1s ease-in-out;

    &.active {
      font-size: 34px; 
      color: $lighter-green;
    } 
  }

  &__line {
    display: inline-block;
    width: 1px;
    height: 30px;
    background-color: $lighten-grey;
  }
}

.category-2 {
  display: none;
  text-align: center;
  margin: 40px 0 60px;
  
  &__item {
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
    font-size: 14px;
    font-family: $opensans;
    font-weight: 500;
    color: $light-gray;
    &::after {
      content: '.';
      position: relative;
      left: 15px;
    }

    &--last::after {
      content: '';
    }

    &.active {
      color: $lighter-green;
      font-weight: 600;
    }
  }

  &[data-cate="sell"] {
    display: block;
  }
}

// product
.product-slider {
  width: 100%;
  position: relative;

  &__next,
  &__prev {
    position: absolute;
    z-index: 200;
    top: 50%;
    transform: translateY(-50%);
    left: calc(80% - 14px);
  }
  &__prev {
    left: auto;
    right: calc(80% - 14px);
  }
}

.slider {
  &__slide {
    text-align: center;
  }

  .owl-item.js-first-item,
  .owl-item.js-last-item {
    opacity: 0.3;

    .product__price--new {
      color: $red;
    }
  }
}

.social {
  margin: 45px 0 60px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: $light-grey;
    position: relative;
    margin-left: 40px;

    &:hover,
    &:active,
    &:focus {
      color: $lighter-black;

      .social__icon {
        border-color: $lighter-black;
        color: $lighter-black;
      }
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    font-size: 16px;
    border: 2px solid $light-grey;
    border-radius: 50%;
  }
}

.widget {
  &__heading {
    text-align: center;
    font-size: 16px;
    font-weight: 800;
    font-family: $opensans;
    margin-bottom: 20px;
  }
}

.home-info {
  padding-bottom: 90px;
}

.sendmail {
  font-size: 12px;
  font-weight: bold;
  font-family: $opensans;
  text-align: center;
  padding-bottom: 20px;

  &__input {
    width:  100%;
    height: 36px;
    border: 1px solid $lighten-grey;
    color: $gray;
    padding: 0 20px;
  }

  &__desc {
    font-size: 12px;
    color: $gray;
    margin: 12px 0 15px;
  }
}

.home-about {
  font-family: $opensans;
  font-size: 12px;

  &__logo {
    height: 55px;
    width: 100%;
    margin-bottom: 30px;
  }

  &__img {
    max-width: 100%;
    max-height: 100%;
  }

  &__heading {
    font-size: 12px;
    color: $lighter-black;
    font-weight: 700;
    margin-bottom: 18px;
  }

  &__text {
    color: $lightest-black;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 18px;
  }

  &__readmore {
    font-size: 12px;
    color: $lighter-gray;
    &:hover {
      color: $lighter-black;
    }
  }
}
