.list-banner {
  background-color: $graish-blue;
  margin-top: -1px;
  
  &__wrap {
    display: flex;
    height: 170px;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    height: 100%;

    @include respond-to('tablet-and-down') {
      display: none;
    }
  }
}

.list-intro {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: $white;

  &__heading {
    font-family: $lobster;
    margin: 0 20px 0 0;
    font-size: 74px;
  }

  &__subheading {
    font-family: $roboto;
    font-weight: 200;
    font-size: 23px;
  }

  &__time {
    font-weight: 500;
    font-size: 27px;
  }

  @include respond-to('desktop-and-down') {

    &__heading {
      font-size: 54px;
    }

    &__subheading {
      font-size: 18px;
    }

    &__time {
      font-size: 20px;
    }
  }

  @include respond-to('phone-and-down') {
    &__heading {
      font-size: 34px;
      margin-right: 0;
      margin-bottom: 15px;
    }

    &__subheading {
      font-size: 14px;
    }

    &__time {
      font-size: 18px;
    }
  }
}

.list-main {
  padding: 50px 0 80px;
}

.list-menu {
  margin: -10px 0 20px 0;

  &__item {
    padding: 10px 0;
    border-bottom: 1px dashed $lighten-grey;
  }

  &__link {
    display: block;
    font-size: 16px;
    line-height: 1;
    font-family: $opensans;
    color: $lighter-black;
    position: relative;

    &:hover,
    &:active,
    &:focus {
      color: $lighter-green;
    }

    &::after {
      content: '\f0da';
      font-family: 'FontAwesome';
      font-size: 12px;
      color: $light-grey;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &.active {
      color: $lighter-green;
      &::after {
        content: '\f0d7';
        color: $lighter-black;
      } 
    }
  }
}

.list-submenu {
  display: none;
  list-style: disc;
  margin-top: 10px;
  padding-left: 25px;
  &__item {
    padding: 5px 0;
  }

  &__link {
    font-size: 14px;
    line-height: 20px;
    font-family: $opensans;
    color: $gray;

    &:hover,
    &:active,
    &:focus {
      color: $lighter-green;
    }
  }
}

.list-compare {
  margin-top: 20px;
}

.list-tags {
  margin: 35px 0 40px;

  &__link:hover {
    background-color: $lighter-black;
  }
}

.list-ads {
  width: 100%;
  
  @include respond-to('tablet-and-down') {
    display: none;
  }
}

.list-product {
  padding-top: 42px;
}
