.list-banner {
  background-color: $graish-blue;
  
  &__wrap {
    display: flex;
    height: 170px;
    justify-content: space-between;
    align-items: center;
  }

  &__img {
    height: 100%;
  }
}

.list-intro {
  display: flex;
  align-items: center;
  color: $white;

  &__heading {
    font-family: $lobster;
    font-size: 74px;
    margin: 0 20px 0 0;
  }

  &__subheading {
    font-family: $roboto;
    font-weight: 200;
    font-size: 23px;
  }

  &__time {
    font-size: 27px;
    font-weight: 500;
  }
}

.list-main {
  padding: 50px 0 80px;
}

.list-sidebar-block {
  &__heading {
    font-family: $opensans;
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 12px;
    border-bottom: 1px solid $lighten-grey;
    margin: 0 0 20px;
  }

  &__icon {
    margin-right: 8px;
  }
}

.list-menu {
  margin: -10px 0 44px 0;

  &__item {
    padding: 10px 0;
    border-bottom: 1px dashed $lighten-grey;
  }

  &__link {
    display: block;
    font-size: 16px;
    font-family: $opensans;
    color: $lighter-black;
    position: relative;

    &::after {
      content: '\f0da';
      font-family: 'FontAwesome';
      font-size: 12px;
      color: $light-grey;
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &.active {
      color: $lighter-green;
      &::after {
        content: '\f0d7';
        color: $lighter-black;
      } 
    }
  }
}

.list-submenu {
  display: none;
  list-style: disc;
  margin-top: 20px;
  padding-left: 25px;
  &__item {
    padding: 5px 0;
  }

  &__link {
    font-size: 14px;
    font-family: $opensans;
    color: $gray;
    &:hover {
      text-decoration: underline;
    }
  }
}

.list-compare {
  margin: 20px 0 40px;
}

.list-tags {
  margin: 35px 0 40px;

  &__link:hover {
    background-color: $lighter-black;
  }
}

.list-ads {
  width: 100%;
}

.list-product {
  padding-top: 42px;
}
