.login {
  margin-bottom: 63px;

  &__message {
    font-size: 12px;
    font-weight: 600;
    font-family: $opensans;
    margin-bottom: 40px;
  }

  &__input {
    width: 516px;
  }

  &__submit {
    margin-top: 20px;
  }

  &__forgetpassword {
    font-size: 12px;
    font-weight: 600;
    font-family: $opensans;
    margin-top: 8px;
    color: $black;
    margin-right: 24px;

    &:hover {
      color: $red;
    }
  }
}
