.register {
  margin-bottom: 63px;

  &__btns {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
  }

  &__btn {
    padding: 6px 12px;
  }

  &__mb-35 {
    margin-bottom: 35px;
  }
}
