.main-btn {
  display: inline-block;
  color: $white;
  background-color: $black;
  font-size: 12px;
  font-family: $times-new-roman;
  line-height: 26px;
  padding: 0 12px;
  cursor: pointer;
  border: 0;

  &:hover {
    color: $white;
    background-color: $gray-900;
  }

  &--big {
    line-height: 45px;
    padding: 0 35px;
    font-size: 14px;
  }
}
