.footer {
  background-color: $black;
  padding-top: 40px;
}

.contact {
  display: inline-block;
  max-width: 320px;
  margin-bottom: 30px;
  word-break: break-word;

  &__info {
    font-size: 14px;
    font-family: $roboto;
    line-height: 30px;
    position: relative;
    padding-left: 20px;

    &:hover {
      color: $lighter-green;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: $lighter-green;
  }
}

.pushright_10 {
  margin-left: 10px;
}

.footer-grid {
  width: 780px;
  float: right;
  margin-bottom: 30px;
}

.footer-heading {
  font-size: 18px;
  font-family: $opensans;
  font-weight: 400;
  color: $lighter-grey;
  margin-bottom: 16px;
  word-break: break-word;
}

.sublist {
  &__link {
    font-size: 14px;
    font-family: $opensans;
    font-weight: 300;
    line-height: 30px;
    color: $lightest-black;
    word-break: break-word;

    &:hover {
      color: $lighter-green;
      position: relative;

      &::before {
        content: '';
        display: inline-block;
        width: 4px;
        height: 4px;
        background-color: $lighter-green;
        margin-right: 6px;
        margin-bottom: 3px;
      } 
    }
  }
}

.site-end {
  border-top: 1px solid $lighter-black;
  padding: 20px 0;
}

.copyright {
  float: left;
  font-size: 12px;
  font-family: $roboto;
  color: $lightest-black;
}

.payments {
  display: flex;
  align-items: center;
  float: right;

  &__item {
    margin-left: 17px;
  }

  &__img {
    display: block;
    max-height: 25px;
  }
}
