.footer {
  background-color: $black;
  padding-top: 40px;

  &__title {
    font-size: 18px;
    font-family: $opensans;
    font-weight: 400;
    color: $lighter-grey;
    margin-bottom: 16px;
    word-break: break-word;
  }
}

.contact {
  display: flex;
  float: left;
  margin-right: 17px;

  &__icon {
    height: 14px;
    width: auto;
    margin-top: 8px;
    margin-right: 10px;
  }

  &__info {
    flex: 1 0 0;
    font-size: 14px;
    font-family: $opensans;
    font-weight: 300;
    line-height: 30px;
    color: $lightest-black;
    word-break: break-word;
    &:hover {
      color: $lighter-green;
    }
  }
}

.sublist {
  margin-bottom: 30px;

  &__link {
    display: block;
    font-size: 14px;
    font-family: $opensans;
    font-weight: 300;
    line-height: 30px;
    color: $lightest-black;
    word-break: break-word;
    position: relative;

    &::before {
      content: '';
      display: none;
      width: 4px;
      height: 4px;
      background-color: $lighter-green;
      position: absolute;
      left: -10px;
      top: 13px;
    }

    &:hover {
      color: $lighter-green;
      left: 10px;

      &::before {
        display: block;
      }
    }
  }
  @media screen and (max-width: 1199px) {
    padding-bottom: 20px;
    border-bottom: 1px solid $lighter-black;

    &--last {
      border-bottom: 0;
    }
  }
}

.site-end {
  border-top: 1px solid $lighter-black;
  padding: 20px 0;
}

.copyright {
  float: left;
  font-size: 12px;
  font-family: $roboto;
  color: $lightest-black;
}

.payments {
  display: flex;
  align-items: center;
  float: right;

  &__item {
    margin-right: 17px;

    &--last {
      margin-right: 0;
    }
  }

  &__img {
    display: block;
    max-height: 25px;
  }
}

@media screen and (max-width: 767px) {
  .payments {
    float: left;
    margin-top: 12px;
  }
}
