$breakpoints: (
  'small': (min-width: $screen-xs-min),
  'mobile-medium': (min-width: $screen-ss-min),
  'medium': (min-width: $screen-sm-min),
  'large': (min-width: $screen-md-min),
  'huge': (min-width: $screen-lg-min),
  'high-res': (min-width: $high-res),
  'small-max' : (max-width:$screen-xs-max),
  'medium-max': (max-width: $screen-sm-max)
);
.block-action {
  padding: $grid-gutter-width 0;
  @include respond-to('small') {
    text-align: center;
    padding-bottom: 0;
  }
  @include respond-to('medium') {
    text-align: initial;
    padding: $grid-gutter-width 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
