.headertop {
  background: $milky;
  font-size: 12px;
  font-weight: 600;
  line-height: 30px;
  &__shop {
    display: inline-block;
  }
  &__shoplink {
    display: block;
    margin-right: 24px;
    color: $grey;
    &:hover {
      color: $light-green;
    }
  }
  &__account {
    display: inline-block;
  }
  &__accountlink {
    display: inline-block;
    margin-left: 24px;
    color: $grey;
    &:hover {
      color: $light-green;
    }
  }
}

.headermiddle {
  background: $black;
  border-top: 1px solid $grey;
  .container {
    height: 78px;
    display: flex;
    align-items: center;
  }
  &__logo {
    display: inline-block;
    max-width: 250px;
    height: 62px;
  }
  &__logoimage {
    width: 100%;
  }
  &__search {
    display: flex;
    margin-left: auto;
    margin-right: 46px;
    border-radius: 5px;
    width: 392px;
    height: 36px;
  }
  &__searchinput {
    width: 350px;
    height: 36px;
    padding: 0 20px;
    background: $milky;
    border: 1px solid $white;
    border-radius: 5px 0 0 5px;
  }
  &__searchbutton {
    display: block;
    width: 40px;
    height: 100%;
    border: 0;
    border-radius: 0 5px 5px 0;
    background: url('../images/icon-search.png') no-repeat $light-green;
  }
  &__carticon {
    margin-right: 10px;
  }
  &__carttext {
    font-size: 14px;
    vertical-align: middle;
    color: $white;
  }
}
.headerbottom {
  height: 40px;
  background: $milky;
  font-size: 14px;
  font-weight: 500;
  .container {
    height: 100%;
  }
  &__nav {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: space-between;
    align-items: center;
  }
  &__navitem{
    color: $grey;
    &:hover {
      color: $light-green;
    }
  }
}
