.main {
  &__intro {
    margin: 20px 0;
  }
  &__introicon {
    border-radius: 100%;
    background: $grey;
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  &__banernav {
    width: 100%;
    height: 100%;
    max-width: 300px;
    border: 1px solid $light-green;
    border-radius: 5px;
  }
  &__banerheading {
    margin: 0;
    padding: 0 32px;
    line-height: 45px;
    font-size: 16px;
    background: $light-green;
    color: $white;
  }
  &__banernavlist {
    padding: 10px 0;
  }
  &__banernavitem {
    font-size: 14px;
    font-weight: 600;
    display: block;
    color: $black;
    padding: 0 32px;
    &:hover {
      color: $light-green;
    }
  }
  &__banernav--carret {
    position: relative;
    &::after {
      content: '\f054';
      font-family: 'FontAwesome';
      font-size: 12px;
      font-weight: 100;
      position: absolute;
      top: 0px;
      right: 20px;
      color: $grey;
    }
  }
  &__banernav--active {
    position: relative;
    &::after {
      content: '\f078';
      font-family: 'FontAwesome';
      font-size: 12px;
      font-weight: 100;
      position: absolute;
      top: 0px;
      right: 20px;
      color: $grey;
    }
  }
  &__dropdownmenu {
    padding-left: 48px;
    list-style: disc;
  }
  &__dropdownitem {
    font-size: 14px;
    color: $grey;
    &:hover {
      color: $light-green;
    }
  }
  &__seemore {
    padding: 0 32px;
    color: $grey;
    font-size: 14px;
    &:hover {
      color: $light-green;
    }
    .fa-plus-circle {
      font-size: 16px;
      color: $light-green;
      margin-right: 5px;
    }
  }
  &__header {
    display: flex;
    width: 100%;
    height: 50px;
    margin: 32px 0;
    border-bottom: 1px solid $milky;
    align-items: center;
  }
  &__heading {
    line-height: 50px;
    margin: 0 auto 0 0;
    padding: 0 10px;
    font-size: 28px;
    color: $light-green;
    border-bottom: 2px solid $light-green; 
  }
  &__arrowbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 0 3px;
    border-radius: 100%;
    background: $light-grey;
    &--active {
      background: $light-green;
    }
  }
  &__arrowicon {
    width: 12px;
    height: 12px;
  }
  &__filterproduct {
    display: block;
    font-size: 18px;
    line-height: 20px;
    color: $grey;
    padding: 0 16px;
    margin-top: 16px;
    border-right: 1px solid $milky;
    &:hover {
      color: $light-green;
    }
    &--lastchild {
      border-right: none;
    }
    &--active {
      color: $light-green;
    }
  }
  &__product {
    margin-bottom: 40px;
  }
  &__productimage {
    width: 100%;
    height: auto;
  }
  &__productname {
    font-size: 16px;
    font-weight: 600;
    color: $grey;
    margin-bottom: 8px;
  }
  &__oldprice {
    font-size: 12px;
  }
  &__newprice {
    font-size: 18px;
    font-weight: 900;
    color: $light-green;
  }
  &__buybutton {
    border-radius: 5px;
    font-size: 16px;
    line-height: 42px;
    padding: 0 30px;
  }
  &__news {
    margin-bottom: 50px;
  }
  &__newsinfo {
    font-size: 12px;
    color: $light-grey;
  }
  &__newstitle {
    margin-bottom: 8px;
    font-weight: 600;
  }
  &__newscontent {
    font-size: 14px;
    color: $grey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__newslink {
    font-size: 14px;
    color: $grey;
    &icon {
      font-size: 12px;
    }
    &:hover {
      color: $light-green;
    }
  }
  &__advertis {
    width: 100%;
    height: 194px;
  }
}
.brands {
  background: $milky;
  &__wrapper {
    width: 100%;
    height: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
