.top-site {
  background-color: $white;
  position: relative;
  z-index: 10;
  color: $gray;

  &--transparent {
    background-color: $white-opacity-1;
    color: $white;
  }

  &__wrap {
    position: relative;
    @include clearfix;
  }
}

.account-btn {
  display: none;

  @include respond-to('tablet-and-down') {
    display: inline-block;
    line-height: 33px;
    font-size: 12px;
    font-family: $times-new-roman;
    color: inherit;
    cursor: pointer;

    &::after {
      content: '\f0d7';
      font-family: 'FontAwesome';
      margin-left: 12px;
    }
  }
}
