.top-site {
  background-color: $white;
  position: relative;
  z-index: 10;
  color: $gray;

  &--transparent {
    background-color: $white-opacity-1;
    color: $white;
  }

  &__wrap {
    position: relative;
    @include clearfix;
  }
}

.account-btn {
  display: none;

  @include respond-to('tablet-and-down') {
    display: inline-block;
    line-height: 33px;
    font-size: 12px;
    font-family: $times-new-roman;
    color: inherit;
    cursor: pointer;

    &::after {
      content: '\f0d7';
      font-family: 'FontAwesome';
      margin-left: 12px;
    }
  }
}

.account-menu {
  float: left;
  color: inherit;
  @include clearfix;  

  &__item {
    float: left;
    margin-right: 10px;

    &::after {
      content: '-';
      margin-left: 10px;
    }

    &--lastchild {
      margin-right: 0;

      &::after {
        content: '';
        display: none;
      }
    }
  }

  &__link {
    display: inline-block;
    line-height: 33px;
    font-size: 12px;
    font-family: $times-new-roman;
    color: inherit;

    &:hover {
      color: $goldish-brown;
      text-decoration: underline;
    }
  }
  
  @include respond-to('tablet-and-down') {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: $white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);


    &__item {
      float: none;
      margin: 0;
      border: 1px solid $gray-border;
      border-bottom: 0;

      &::after {
        content: '';
        display: none;
      }

      &--lastchild {
        border-bottom: 1px solid $gray-border;
      }
    }

    &__link {
      padding: 0 12px;
      color: $gray;
    }
  }
}

.search-top {
  display: flex;
  height: 33px;
  align-items: center;
  float: right;
  color: inherit;

  &__input {
    font-size: 12px;
    color: inherit;
    border: 0;
    border-left: 1px solid $white;
    padding: 0 10px;
    background-color: transparent;

    &::placeholder {
      color: inherit;
      opacity: .5;
    }
  }

  &__btn {
    background: 0;
    border: 0;
    color: inherit;
    cursor: pointer;
  }
}

.home-banner {
  position: relative;
  top: -33px;
  margin-bottom: -33px;

  &__img {
    width: 100%;
  }
}
